.flows.json.backup
[{"id":"54d597dc.091d98","type":"tab","label":"StiebelEltron","disabled":false,"info":""},{"id":"d758016d.a72ea","type":"tab","label":"Temperatur Sensoren","disabled":false,"info":""},{"id":"474a109b.3ffcd","type":"tab","label":"Lampen","disabled":false,"info":""},{"id":"b53ac254.c61c7","type":"tab","label":"Log to InfluxDB","disabled":false,"info":""},{"id":"36502ef1.499d82","type":"tab","label":"Light"},{"id":"aeaee698.066bd8","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"${MQTTSERVER}","port":"${MQTTPORT}","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d99c3e7.1afe6c","type":"modbus-client","z":0,"name":"StiebelEltronWP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"${MODBUSHOST}","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5db59100.6471","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86cfc9c1.14a5d8","type":"ui_tab","z":0,"name":"Wäremepumpe","icon":"dashboard","disabled":false,"hidden":false},{"id":"d491d6cc.a16b68","type":"ui_group","z":"","name":"Heizung","tab":"86cfc9c1.14a5d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d461b5.7f18a648","type":"ui_group","z":0,"name":"Warmwasser","tab":"86cfc9c1.14a5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5c3073f.444098","type":"zigbee2mqtt-server","z":"","name":"","host":"mqtt","mqtt_port":"${MQTTPORT}","mqtt_username":"${MQTTUSER}","mqtt_password":"${MQTTPW}","base_topic":"zigbee2mqtt"},{"id":"e5358295.10d7d8","type":"ui_group","z":"","name":"Licht","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"4220e2b.fee729c","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"${INFLUXDB}","name":"","usetls":false,"tls":""},{"id":"73c472f9.f1a9cc","type":"ui_group","z":"","name":"Temperaturen","tab":"86cfc9c1.14a5d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"2b4764ba.e4abec","type":"ui_group","z":"","name":"Wohnzimmer","tab":"2e3a0fb9.ae77c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e3a0fb9.ae77c","type":"ui_tab","z":"","name":"Zimmer","icon":"dashboard","disabled":false,"hidden":false},{"id":"88451831.e5e9c8","type":"ui_group","z":"","name":"Zimmer Tina","tab":"2e3a0fb9.ae77c","order":5,"disp":true,"width":"6","collapse":false},{"id":"6726f1f0.0807a","type":"ui_group","z":"","name":"Zimmer Jana","tab":"2e3a0fb9.ae77c","order":6,"disp":true,"width":"6","collapse":false},{"id":"dfb23086.f6581","type":"ui_group","z":"","name":"Zimmer Lena","tab":"2e3a0fb9.ae77c","order":7,"disp":true,"width":"6","collapse":false},{"id":"97aea2ad.76c0b","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""},{"id":"f0b01817.b743a8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""},{"id":"9df664cc.1980b8","type":"ui_group","z":"","name":"Fernsehzimmer","tab":"2e3a0fb9.ae77c","order":3,"disp":true,"width":"6","collapse":false},{"id":"689e7e47.63206","type":"ui_group","z":"","name":"Schalfzimmer","tab":"2e3a0fb9.ae77c","order":2,"disp":true,"width":"6","collapse":false},{"id":"c8906df6.69c82","type":"ui_group","z":"","name":"Büro","tab":"2e3a0fb9.ae77c","order":4,"disp":true,"width":"6","collapse":false},{"id":"274f70c9.56184","type":"mqtt-broker","z":"36502ef1.499d82","broker":"localhost","port":"1883","clientid":"mosquitto","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"Bitth","birthQos":"0","birthRetain":"false","birthPayload":"Birth","willTopic":"Will","willQos":"0","willRetain":"false","willPayload":"Will"},{"id":"f0e523d.12faae","type":"ui_group","z":"","name":"Main Lamp","tab":"2ef8401c.bf03","order":1,"disp":true,"width":"6"},{"id":"2c00fe09.5790b2","type":"ui_group","z":"","name":"Bench Light","tab":"2ef8401c.bf03","order":2,"disp":true,"width":"6"},{"id":"2ef8401c.bf03","type":"ui_tab","z":"","name":"LAB","icon":"dashboard","order":1},{"id":"9eb3db38.f814d8","type":"ui_group","z":"","name":"MiFlora","tab":"7c738c00.632404","order":2,"disp":true,"width":"6"},{"id":"4a16e9f5.703eb8","type":"ui_group","z":"","name":"Report","tab":"e4857aa3.140188","order":2,"disp":true,"width":"18"},{"id":"c98ae83a.95d678","type":"ui_group","z":"","name":"Selection","tab":"e4857aa3.140188","order":1,"disp":true,"width":"5"},{"id":"7c738c00.632404","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"e4857aa3.140188","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"72ad5dd5.451434","type":"ui_group","z":"","name":"MiFlora","tab":"1c0a1e09.f83122","order":2,"disp":true,"width":"6"},{"id":"9c47b40.ce6a05","type":"ui_group","z":"","name":"Report","tab":"6bae42ce.54af1c","order":2,"disp":true,"width":"18"},{"id":"114474d5.499a9b","type":"ui_group","z":"","name":"Selection","tab":"6bae42ce.54af1c","order":1,"disp":true,"width":"5"},{"id":"1c0a1e09.f83122","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"6bae42ce.54af1c","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"d7ce5f40.fca23","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c61e6f12.2b183","type":"inject","z":"54d597dc.091d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["c1458cc7.76bc4"]]},{"id":"c1458cc7.76bc4","type":"function","z":"54d597dc.091d98","name":"Read from Stiebel","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 4,\n    'unitid': 1,\n    'address': 501,\n    'quantity': 25\n};\nreturn msg","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["f977a7c3.70c358"]]},{"id":"1085c68d.41e109","type":"function","z":"54d597dc.091d98","name":"Split Heizung WW","func":"let TAussen = msg.payload[5]/10;\nlet TIstHK1 = msg.payload[6]/10;\nlet TSollHK1 = msg.payload[8]/10;\nlet TIstHK2 = msg.payload[9]/10;\nlet TSollHK2 = msg.payload[10]/10;\nlet TIstVor = msg.payload[13]/10;\nlet TIstPuff = msg.payload[16]/10;\nlet TSollPuff = msg.payload[17]/10;\nlet TFrost = msg.payload[7]/10;\nlet TIstWW = msg.payload[20]/10;\nlet TSollWW = msg.payload[21]/10;\n\nmsg.payload = {\n    name: \"WPHeizung\",\n    TAussen: TAussen,\n    TIstHK1: TIstHK1,\n    TSollHK1: TSollHK1,\n    TIstHK2: TIstHK2,\n    TSollHK2: TSollHK2,\n    TIstVor: TIstVor,\n    TIstPuff: TIstPuff,\n    TSollPuff: TSollPuff,\n    TFrost: TFrost,\n    TIstWW: TIstWW,\n    TSollWW: TSollWW\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["b894e6f0.b1d678","b1ed68f9.bc0df8","6f02b588.e506ec","f87e42ac.6dfc2","aa47d927.41ec78","893fc1b6.83a65","60370e6f.ac52a","3a35b59c.09546a","644f82ab.3bb55c","e0b00a9.0d2fdf8","4db9480b.6d6088"]]},{"id":"3a051f6f.1015a","type":"comment","z":"54d597dc.091d98","name":"Read Values from ModBus Interface","info":"","x":160,"y":40,"wires":[]},{"id":"f977a7c3.70c358","type":"modbus-flex-getter","z":"54d597dc.091d98","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3d99c3e7.1afe6c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":80,"wires":[["1085c68d.41e109"],[]]},{"id":"b894e6f0.b1d678","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Aussentemperatur","format":"{{msg.payload.TAussen}} °C","layout":"row-spread","x":1030,"y":80,"wires":[]},{"id":"b1ed68f9.bc0df8","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 1","format":"{{msg.payload.TIstHK1}} °C","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"6f02b588.e506ec","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 1","format":"{{msg.payload.TSollHK1}} °C","layout":"row-spread","x":1040,"y":160,"wires":[]},{"id":"f87e42ac.6dfc2","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 2","format":"{{msg.payload.TIstHK2}} °C","layout":"row-spread","x":1030,"y":200,"wires":[]},{"id":"aa47d927.41ec78","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 2","format":"{{msg.payload.TSollHK2}} °C","layout":"row-spread","x":1040,"y":240,"wires":[]},{"id":"893fc1b6.83a65","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Puffer","format":"{{msg.payload.TIstPuff}} °C","layout":"row-spread","x":1030,"y":280,"wires":[]},{"id":"60370e6f.ac52a","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Puffer","format":"{{msg.payload.TSollPuff}} °C","layout":"row-spread","x":1040,"y":320,"wires":[]},{"id":"3a35b59c.09546a","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Warmwasser","format":"{{msg.payload.TIstWW}} °C","layout":"row-spread","x":1060,"y":360,"wires":[]},{"id":"644f82ab.3bb55c","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Warmwasser","format":"{{msg.payload.TSollWW}} °C","layout":"row-spread","x":1060,"y":400,"wires":[]},{"id":"48e24060.5f5a3","type":"mqtt in","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/KellertreppeMotion1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":150,"y":1260,"wires":[["cb7c5619.b3dcf8"]]},{"id":"3db20815.065c88","type":"mqtt out","z":"474a109b.3ffcd","name":"SetLampe Kellertreppe","topic":"zigbee2mqtt/KellertreppeLampe/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":560,"y":900,"wires":[]},{"id":"58114171.47859","type":"mqtt in","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/KellertreppeMotion2","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":150,"y":1320,"wires":[["cb7c5619.b3dcf8"]]},{"id":"5059a830.596788","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"KellertreppeLampe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1260,"wires":[["f1901e4c.b4408"]]},{"id":"bbc313cc.c428e8","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"689e7e47.63206","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"brightness","min":0,"max":"255","step":"10","x":600,"y":1720,"wires":[["57e8670c.317a78"]]},{"id":"60e3a7b3.04edb8","type":"influxdb out","z":"b53ac254.c61c7","influxdb":"4220e2b.fee729c","name":"Log to InfluxDB","measurement":"RoomTemperatures","precision":"","retentionPolicy":"","x":760,"y":60,"wires":[]},{"id":"410f2707.5ab04","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/WohnzimmerTemp","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":170,"y":80,"wires":[["7b057c53.d86394"]]},{"id":"d0f3e21f.8f43a8","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":4,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":80,"wires":[]},{"id":"e7386913.281d48","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Schlafzimmer","topic":"zigbee2mqtt/SchalfzimmerDecke","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":1700,"wires":[["41a4b34a.66917c","bbc313cc.c428e8","b7a45eff.5bf2d8"]]},{"id":"57e8670c.317a78","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1720,"wires":[["9e8d530e.af08e"]]},{"id":"7b057c53.d86394","type":"json","z":"d758016d.a72ea","name":"","property":"payload","action":"","pretty":false,"x":410,"y":80,"wires":[["d0f3e21f.8f43a8","4ef74b52.95e914","ba39f88f.597be8","6991ba10.923c74"]]},{"id":"4ef74b52.95e914","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":5,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":120,"wires":[]},{"id":"ba39f88f.597be8","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":6,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":160,"wires":[]},{"id":"118f002e.a8a1c","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/TinaTemperatur","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":160,"y":220,"wires":[["71416eb1.ae632"]]},{"id":"3841a838.d6be78","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"71416eb1.ae632","type":"json","z":"d758016d.a72ea","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["3841a838.d6be78","21be18d2.5c3768","66b6306d.2c26c","6991ba10.923c74"]]},{"id":"21be18d2.5c3768","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":2,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":260,"wires":[]},{"id":"66b6306d.2c26c","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":3,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":300,"wires":[]},{"id":"f83d1f64.05d13","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/JanaTemperatur","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":160,"y":340,"wires":[["702123af.bd76fc"]]},{"id":"5f8aa316.3e58dc","type":"ui_text","z":"d758016d.a72ea","group":"6726f1f0.0807a","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":340,"wires":[]},{"id":"702123af.bd76fc","type":"json","z":"d758016d.a72ea","name":"","property":"payload","action":"","pretty":false,"x":410,"y":340,"wires":[["5f8aa316.3e58dc","2910d20e.4d7a1e","4a068227.24b79c","6991ba10.923c74"]]},{"id":"2910d20e.4d7a1e","type":"ui_text","z":"d758016d.a72ea","group":"6726f1f0.0807a","order":2,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":380,"wires":[]},{"id":"4a068227.24b79c","type":"ui_text","z":"d758016d.a72ea","group":"6726f1f0.0807a","order":3,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":420,"wires":[]},{"id":"4d15b7a8.17b948","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/LenaTemperatur","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":160,"y":480,"wires":[["c91c5b4d.6b07d8"]]},{"id":"2293c93b.851e86","type":"ui_text","z":"d758016d.a72ea","group":"dfb23086.f6581","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":480,"wires":[]},{"id":"c91c5b4d.6b07d8","type":"json","z":"d758016d.a72ea","name":"","property":"payload","action":"","pretty":false,"x":410,"y":480,"wires":[["2293c93b.851e86","40380758.2f8998","dc54ccab.05539","6991ba10.923c74"]]},{"id":"40380758.2f8998","type":"ui_text","z":"d758016d.a72ea","group":"dfb23086.f6581","order":2,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":520,"wires":[]},{"id":"dc54ccab.05539","type":"ui_text","z":"d758016d.a72ea","group":"dfb23086.f6581","order":3,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":560,"wires":[]},{"id":"b7a45eff.5bf2d8","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"689e7e47.63206","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"color_temp","min":0,"max":"455","step":"10","x":620,"y":1760,"wires":[["3fa8e74a.7faba8"]]},{"id":"3fa8e74a.7faba8","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1760,"wires":[["9e8d530e.af08e"]]},{"id":"64c6a8d2.60a3f8","type":"mqtt in","z":"474a109b.3ffcd","name":"Schalter Remo","topic":"zigbee2mqtt/SchlafzimmerSchalterRemo","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":160,"y":100,"wires":[["afa6ae01.4b788"]]},{"id":"d2ed23d9.40b3b","type":"mqtt out","z":"474a109b.3ffcd","name":"SetLampeRemo","topic":"zigbee2mqtt/SchlafzimmerLampeRemo/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":540,"y":780,"wires":[]},{"id":"afa6ae01.4b788","type":"change","z":"474a109b.3ffcd","name":"Lampe Remo","rules":[{"t":"set","p":"SchlafzimmerLampeRemo","pt":"msg","to":"Remo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["2f500d4c.efd4d2"]]},{"id":"ec8e8fc8.29be","type":"switch","z":"474a109b.3ffcd","name":"","property":"device","propertyType":"msg","rules":[{"t":"eq","v":"SchlafzimmerLampeRemo","vt":"str"},{"t":"eq","v":"SchlafzimmerLampeFranziska","vt":"str"},{"t":"eq","v":"KellertreppeLampe","vt":"str"},{"t":"eq","v":"WohnzimmerLampe","vt":"str"},{"t":"eq","v":"SchlafzimmerDecke","vt":"str"},{"t":"eq","v":"BueroLampe","vt":"str"},{"t":"eq","v":"FernsehzimmerLampe","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":270,"y":940,"wires":[["d2ed23d9.40b3b"],["43c1744e.0446ec"],["3db20815.065c88"],["655d6d20.31a934"],["1cfa1571.8cb1cb"],["154dc46.5e4803c"],["c66a2d3a.69a9a"]]},{"id":"43c1744e.0446ec","type":"mqtt out","z":"474a109b.3ffcd","name":"SetLampeFranziska","topic":"zigbee2mqtt/SchlafzimmerLampeFranziska/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":560,"y":840,"wires":[]},{"id":"738a6c6f.f751d4","type":"mqtt in","z":"474a109b.3ffcd","name":"Schalter Franziska","topic":"zigbee2mqtt/SchlafzimmerSchalterFranziska","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":170,"y":160,"wires":[["a6a4da0e.d571a8"]]},{"id":"a6a4da0e.d571a8","type":"change","z":"474a109b.3ffcd","name":"Lampe Franziska","rules":[{"t":"set","p":"device","pt":"msg","to":"SchlafzimmerLampeFranziska","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["2f500d4c.efd4d2"]]},{"id":"620bf5ae.9c987c","type":"link in","z":"474a109b.3ffcd","name":"IKEA Dimmer in","links":["2f500d4c.efd4d2"],"x":95,"y":640,"wires":[["53508dea.9db1a4"]]},{"id":"85409bd.db56368","type":"link out","z":"474a109b.3ffcd","name":"IKEA Dimmer out","links":["268459bd.583ad6"],"x":375,"y":640,"wires":[]},{"id":"2f500d4c.efd4d2","type":"link out","z":"474a109b.3ffcd","name":"IKEA Dimmer send to function","links":["620bf5ae.9c987c"],"x":635,"y":100,"wires":[]},{"id":"268459bd.583ad6","type":"link in","z":"474a109b.3ffcd","name":"Sent to Device","links":["85409bd.db56368","f1901e4c.b4408","718444d7.aeb6ac","febe1e21.b3792","a8bc0cb6.13e49","3d1bdd6d.b1c352","d5b1153c.e0bb38","31afbf8b.93b03"],"x":135,"y":940,"wires":[["ec8e8fc8.29be"]]},{"id":"cb8ba7ee.299e48","type":"comment","z":"474a109b.3ffcd","name":"IKEA Dimmer Standard Functions","info":"","x":210,"y":580,"wires":[]},{"id":"868692df.732a6","type":"comment","z":"474a109b.3ffcd","name":"Schlafzimmer Nachtischlampe","info":"","x":180,"y":60,"wires":[]},{"id":"f1901e4c.b4408","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1015,"y":1260,"wires":[]},{"id":"53508dea.9db1a4","type":"function","z":"474a109b.3ffcd","name":"Split IKEA Dimmer","func":"switch (msg.payload.click){\ncase \"ON\":\n    msg.payload = {\"state\": \"ON\"};\n    break;\ncase \"OFF\":\n    msg.payload = {\"state\": \"OFF\"}\n    break;\ncase \"brightness_up\":\n    msg.payload = {\"brightness_move\": 50}\n    break;\ncase \"brightness_down\":\n    msg.payload = {\"brightness_move\": -50}\n    break\ncase \"brightness_stop\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break  \n}\nreturn msg","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["85409bd.db56368"]]},{"id":"5304edc1.a98194","type":"link in","z":"474a109b.3ffcd","name":"IKEA Remote in","links":["4014dde7.ae1664"],"x":95,"y":760,"wires":[["c0420def.bbab8"]]},{"id":"febe1e21.b3792","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote out","links":["268459bd.583ad6"],"x":375,"y":760,"wires":[]},{"id":"c941feca.2d759","type":"comment","z":"474a109b.3ffcd","name":"IKEA Remote Functions","info":"","x":180,"y":700,"wires":[]},{"id":"c0420def.bbab8","type":"function","z":"474a109b.3ffcd","name":"Split IKEA Remote","func":"switch (msg.payload.action){\ncase \"toggle\":\n    msg.payload = {\"state\": \"TOGGLE\"};\n    break;\ncase \"arrow_left_click\":\n    msg.payload = {}\n    break;\ncase \"arrow_left_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_left_release\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_click\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_release\":\n    msg.payload = {}\n    break;\ncase \"brightness_up_click\":\n    msg.payload = {}\n    break;\ncase \"brightness_up_hold\":\n    msg.payload = {\"brightness_move\": 50}\n    break\ncase \"brightness_up_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\ncase \"brightness_down_click\":\n    msg.payload = {}\n    break;\ncase \"brightness_down_hold\":\n    msg.payload = {\"brightness_move\": -50}\n    break\ncase \"brightness_down_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\n}\nreturn msg","outputs":1,"noerr":0,"x":230,"y":760,"wires":[["febe1e21.b3792"]]},{"id":"d2448bd1.dd6428","type":"mqtt in","z":"474a109b.3ffcd","name":"Remote Wohnzimmer","topic":"zigbee2mqtt/WohnzimmerRemote","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":180,"y":220,"wires":[["b168f71f.be8378"]]},{"id":"b168f71f.be8378","type":"change","z":"474a109b.3ffcd","name":"Lampe Wohnzimmer","rules":[{"t":"set","p":"device","pt":"msg","to":"WohnzimmerLampe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["4014dde7.ae1664"]]},{"id":"4014dde7.ae1664","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote Send to function","links":["5304edc1.a98194"],"x":695,"y":220,"wires":[]},{"id":"655d6d20.31a934","type":"mqtt out","z":"474a109b.3ffcd","name":"Set WohnzimmerLampe","topic":"zigbee2mqtt/WohnzimmerLampe/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":570,"y":960,"wires":[]},{"id":"a8bc0cb6.13e49","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1215,"y":1680,"wires":[]},{"id":"1cfa1571.8cb1cb","type":"mqtt out","z":"474a109b.3ffcd","name":"Set SchlafzimmerDecke","topic":"zigbee2mqtt/SchlafzimmerDecke/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":570,"y":1020,"wires":[]},{"id":"9e8d530e.af08e","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"SchalfzimmerDecke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1680,"wires":[["a8bc0cb6.13e49"]]},{"id":"6d72a188.6eee","type":"mqtt in","z":"b53ac254.c61c7","name":"","topic":"zigbee2mqtt/TinaTemperatur","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":60,"wires":[["68428a2c.021a84"]]},{"id":"68428a2c.021a84","type":"function","z":"b53ac254.c61c7","name":"Get Name","func":"var parts = msg.topic.split(\"/\");\nmsg.payload.name = parts[1]\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":60,"wires":[["60e3a7b3.04edb8"]]},{"id":"6467e6f7.6c54c8","type":"mqtt in","z":"b53ac254.c61c7","name":"","topic":"zigbee2mqtt/JanaTemperatur","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":120,"wires":[["68428a2c.021a84"]]},{"id":"c993d3f.00a043","type":"mqtt in","z":"b53ac254.c61c7","name":"","topic":"zigbee2mqtt/LenaTemperatur","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":180,"wires":[["68428a2c.021a84"]]},{"id":"d037d8d0.980fc8","type":"mqtt in","z":"b53ac254.c61c7","name":"","topic":"zigbee2mqtt/WohnzimmerTemperatur","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":170,"y":240,"wires":[["68428a2c.021a84"]]},{"id":"e0b00a9.0d2fdf8","type":"influxdb out","z":"54d597dc.091d98","influxdb":"4220e2b.fee729c","name":"Log to InfluxDB","measurement":"StiebelEltron","precision":"","retentionPolicy":"","x":1020,"y":40,"wires":[]},{"id":"4db9480b.6d6088","type":"debug","z":"54d597dc.091d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":460,"wires":[]},{"id":"6991ba10.923c74","type":"function","z":"d758016d.a72ea","name":"Get Name","func":"var parts = msg.topic.split(\"/\");\nmsg.payload.name = parts[1]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":40,"wires":[["5a28d5e.afd442c"]]},{"id":"5a28d5e.afd442c","type":"influxdb out","z":"d758016d.a72ea","influxdb":"4220e2b.fee729c","name":"Log to InfluxDB","measurement":"RoomTemperatures","precision":"","retentionPolicy":"","x":900,"y":40,"wires":[]},{"id":"8caad0d5.f96ac","type":"comment","z":"d758016d.a72ea","name":"Room Temperature Dashboard and log to InfluxDB","info":"","x":230,"y":40,"wires":[]},{"id":"687366b8.1129e8","type":"comment","z":"474a109b.3ffcd","name":"Send command to devices","info":"","x":190,"y":820,"wires":[]},{"id":"572a371b.3694f8","type":"comment","z":"474a109b.3ffcd","name":"Kellertreppe Motion Detection","info":"","x":140,"y":1200,"wires":[]},{"id":"ff172fb2.df16c","type":"comment","z":"474a109b.3ffcd","name":"Dashboard","info":"","x":120,"y":1500,"wires":[]},{"id":"b16c6813.283928","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"2b4764ba.e4abec","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":600,"y":1860,"wires":[["3feebffc.65f08"]]},{"id":"3feebffc.65f08","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1860,"wires":[["7bb69d98.2dec44"]]},{"id":"52ae203c.cf139","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"2b4764ba.e4abec","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"455","step":"10","x":620,"y":1900,"wires":[["6153ed7.a51a014"]]},{"id":"6153ed7.a51a014","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1900,"wires":[["7bb69d98.2dec44"]]},{"id":"3d1bdd6d.b1c352","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1215,"y":1820,"wires":[]},{"id":"7bb69d98.2dec44","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"WohnzimmerLampe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1820,"wires":[["3d1bdd6d.b1c352","f508666a.5842e8"]]},{"id":"154dc46.5e4803c","type":"mqtt out","z":"474a109b.3ffcd","name":"Set BueroLampe","topic":"zigbee2mqtt/BueroLampe/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":550,"y":1080,"wires":[]},{"id":"c66a2d3a.69a9a","type":"mqtt out","z":"474a109b.3ffcd","name":"Set FernsehzimmerLampe","topic":"zigbee2mqtt/FernsehzimmerLampe/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":580,"y":1140,"wires":[]},{"id":"79907f15.e2988","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"9df664cc.1980b8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"brightness","min":0,"max":"255","step":"10","x":600,"y":2000,"wires":[["37237a5e.7da366"]]},{"id":"60696ada.6e37e4","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Fernsehzimmer","topic":"zigbee2mqtt/FernsehzimmerLampe","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":1980,"wires":[["249e7922.e1f8d6","79907f15.e2988","1eb8ac94.c676c3"]]},{"id":"37237a5e.7da366","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2000,"wires":[["24a7ad7e.c1fc32"]]},{"id":"1eb8ac94.c676c3","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"9df664cc.1980b8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"color_temp","min":0,"max":"455","step":"10","x":620,"y":2040,"wires":[["40fa25c.24b10dc"]]},{"id":"40fa25c.24b10dc","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2040,"wires":[["24a7ad7e.c1fc32"]]},{"id":"d5b1153c.e0bb38","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1215,"y":1960,"wires":[]},{"id":"24a7ad7e.c1fc32","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"FernsehzimmerLampe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1960,"wires":[["d5b1153c.e0bb38"]]},{"id":"ef7e9c4e.f612a","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"2b4764ba.e4abec","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":1820,"wires":[["2089633b.f8695c"]]},{"id":"41a4b34a.66917c","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"689e7e47.63206","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"state","style":"","onvalue":"{\"state\":\"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\":\"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":590,"y":1680,"wires":[["9e8d530e.af08e"]]},{"id":"249e7922.e1f8d6","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"9df664cc.1980b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"state","style":"","onvalue":"{\"state\":\"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\":\"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":590,"y":1960,"wires":[["24a7ad7e.c1fc32"]]},{"id":"95e08529.484ea8","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"c8906df6.69c82","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"brightness","min":0,"max":"255","step":"10","x":600,"y":2140,"wires":[["7d35c8fd.45be08"]]},{"id":"96b435b3.a22748","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Büro","topic":"zigbee2mqtt/BueroLampe","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":110,"y":2120,"wires":[["79b72786.ca3688"]]},{"id":"7d35c8fd.45be08","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2140,"wires":[["b1e011f4.3f7be"]]},{"id":"37ecc1b9.a2a58e","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"c8906df6.69c82","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"color_temp","min":0,"max":"455","step":"10","x":620,"y":2180,"wires":[["8d7a4d8f.b949"]]},{"id":"8d7a4d8f.b949","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2180,"wires":[["b1e011f4.3f7be"]]},{"id":"79b72786.ca3688","type":"json","z":"474a109b.3ffcd","name":"","property":"payload","action":"","pretty":false,"x":310,"y":2120,"wires":[["f379b2e6.793f7","95e08529.484ea8","37ecc1b9.a2a58e"]]},{"id":"31afbf8b.93b03","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1215,"y":2100,"wires":[]},{"id":"b1e011f4.3f7be","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"BueroLampe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2100,"wires":[["31afbf8b.93b03"]]},{"id":"f379b2e6.793f7","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"c8906df6.69c82","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"state","style":"","onvalue":"{\"state\":\"ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\":\"OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":590,"y":2100,"wires":[["b1e011f4.3f7be"]]},{"id":"9399f079.5651d","type":"mqtt in","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/KellertreppeTuer","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":1380,"wires":[["da571b4e.61c628"]]},{"id":"f508666a.5842e8","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":1760,"wires":[]},{"id":"db91d1a9.fb289","type":"mqtt in","z":"36502ef1.499d82","name":"PIR_MAIN","topic":"LAB/PIR/MAIN/relay/0","qos":"1","broker":"274f70c9.56184","x":249,"y":292,"wires":[["10fe0d79.3b54e3","341cc22f.af029e","4bc042e4.1f129c","d5f05e64.d4265"]]},{"id":"21de1c40.696c14","type":"trigger","z":"36502ef1.499d82","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"min","reset":"","name":"Pulse","x":948,"y":280,"wires":[["63a81668.4511e8","30c18f41.8cfd6"]]},{"id":"1f2cfd71.acf233","type":"ui_button","z":"36502ef1.499d82","name":"Off","group":"f0e523d.12faae","order":1,"width":0,"height":0,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"LAB/OVERRIDE/","x":907,"y":20,"wires":[["30c18f41.8cfd6"]]},{"id":"642d4092.e98c9","type":"ui_button","z":"36502ef1.499d82","name":"On","group":"f0e523d.12faae","order":2,"width":0,"height":0,"label":"ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"LAB/OVERRIDE/","x":912,"y":68,"wires":[["30c18f41.8cfd6"]]},{"id":"9e30a5ca.c41ab8","type":"mqtt in","z":"36502ef1.499d82","name":"PIR_TABLE","topic":"LAB/PIR/TABLE/relay/0","qos":"1","broker":"274f70c9.56184","x":256,"y":364,"wires":[["daa36ea3.223b9","cc29248b.633828","ef44789a.e269d8","bf1d5b6b.37bfa8"]]},{"id":"1e8529ca.12de46","type":"mqtt out","z":"36502ef1.499d82","name":"LIGHT_MAIN","topic":"LAB/LIGHT/LIGHT_MAIN/relay/0","qos":"1","retain":"false","broker":"274f70c9.56184","x":1619,"y":116,"wires":[]},{"id":"f51e6aeb.622ef8","type":"trigger","z":"36502ef1.499d82","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"min","reset":"","name":"Pulse","x":946,"y":364,"wires":[["44f2faa2.349014","1fb1a402.c51e4c"]]},{"id":"fda6582c.7d3798","type":"ui_button","z":"36502ef1.499d82","name":"Off","group":"2c00fe09.5790b2","order":1,"width":0,"height":0,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"LAB/OVERRIDE/","x":908,"y":639,"wires":[["1fb1a402.c51e4c"]]},{"id":"767b1cfe.0fd994","type":"ui_button","z":"36502ef1.499d82","name":"On","group":"2c00fe09.5790b2","order":2,"width":0,"height":0,"label":"ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"LAB/OVERRIDE/","x":911,"y":677,"wires":[["1fb1a402.c51e4c"]]},{"id":"daa36ea3.223b9","type":"switch","z":"36502ef1.499d82","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":640,"y":362,"wires":[["f51e6aeb.622ef8","21de1c40.696c14"]]},{"id":"10fe0d79.3b54e3","type":"switch","z":"36502ef1.499d82","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":644,"y":289,"wires":[["21de1c40.696c14"]]},{"id":"bf1d5b6b.37bfa8","type":"function","z":"36502ef1.499d82","name":"","func":"var overrideMain = global.get('overrideMain');\nvar overrideTable = global.get('overrideTable');\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timeFormat= dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+timeFormat});    \n\nvar top=msg.topic.toString();\nvar pay=msg.payload.toString();\n\nif(msg.topic.includes(\"TABLE\")) overrideMain =\"NONE\"\nmsg.topic = \"INSERT INTO Sonoff (Topic,timeStamp,payload,overrideMain,overrideTable) VALUES (?,?,?,?,?)\";\nmsg.payload = [top,timeFormat,pay, overrideMain,overrideTable];\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":971,"wires":[[]]},{"id":"2f824314.df6c1c","type":"mqtt in","z":"36502ef1.499d82","name":"ALEXA","topic":"LAB/PIR/MAIN/alexa/1","qos":"1","broker":"274f70c9.56184","x":909,"y":160,"wires":[["30c18f41.8cfd6"]]},{"id":"30c18f41.8cfd6","type":"function","z":"36502ef1.499d82","name":"OverrideMain","func":"var over=global.get('overrideMain');\nif (msg.topic.includes(\"OVERRIDE\") || msg.topic.includes(\"alexa\")) {\n    if (msg.payload==\"A\"){\n        over=\"AUTO\";\n        global.set('overrideMain',over);\n        node.status({fill:\"blue\",shape:\"ring\",text:\"Override: \"+over}); \n    } else {\n        if (msg.payload==\"1\") {\n            over=\"ON\";\n            msg.payload=\"1\"\n        }\n        if (msg.payload==\"0\") {\n            over=\"OFF\";\n            msg.payload=\"0\"\n        }\n    global.set('overrideMain',over);\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Override: \"+over});  \n    return msg;\n    }\n} else {\n    if (over==\"ON\") msg.payload=\"1\";\n    if (over==\"OFF\") msg.payload=\"0\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1329,"y":122,"wires":[["1e8529ca.12de46","77e62770.bc4288"]]},{"id":"1fb1a402.c51e4c","type":"function","z":"36502ef1.499d82","name":"OverrideTable","func":"var over=global.get('overrideTable');\nif (msg.topic.includes(\"OVERRIDE\") || msg.topic.includes(\"alexa\")) {\n    if (msg.payload==\"A\"){\n        over=\"AUTO\";\n        global.set('overrideTable',over);\n        node.status({fill:\"blue\",shape:\"ring\",text:\"Override: \"+over}); \n    } else {\n        if (msg.payload==\"1\") {\n            over=\"ON\";\n            msg.payload=\"1\"\n        }\n        if (msg.payload==\"0\") {\n            over=\"OFF\";\n            msg.payload=\"0\"\n        }\n    global.set('overrideTable',over);\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Override: \"+over});  \n    return msg;\n    }\n} else {\n    if (over==\"ON\") msg.payload=\"1\";\n    if (over==\"OFF\") msg.payload=\"0\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1330,"y":521,"wires":[["e86610ec.c4207","279a4434.f08e4c"]]},{"id":"84128f57.4154c","type":"ui_button","z":"36502ef1.499d82","name":"Auto","group":"2c00fe09.5790b2","order":1,"width":0,"height":0,"label":"AUTO","color":"","bgcolor":"","icon":"","payload":"A","payloadType":"str","topic":"LAB/OVERRIDE/","x":910,"y":715,"wires":[["1fb1a402.c51e4c"]]},{"id":"e7bb0af8.491da8","type":"ui_button","z":"36502ef1.499d82","name":"Auto","group":"f0e523d.12faae","order":1,"width":0,"height":0,"label":"AUTO","color":"","bgcolor":"","icon":"","payload":"A","payloadType":"str","topic":"LAB/OVERRIDE/","x":912,"y":118,"wires":[["30c18f41.8cfd6"]]},{"id":"6e05da1b.ead6d4","type":"ui_audio","z":"36502ef1.499d82","name":"","group":"f0e523d.12faae","voice":"de-DE","always":"","x":620,"y":620,"wires":[]},{"id":"cc29248b.633828","type":"function","z":"36502ef1.499d82","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":508,"y":439,"wires":[[]]},{"id":"ef44789a.e269d8","type":"function","z":"36502ef1.499d82","name":"","func":"if (msg.payload==\"1\") msg.payload=\"james, please switch the bench light on\"\nif (msg.payload==\"0\") msg.payload=\"james, please switch the bench light off\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":618,"wires":[[]]},{"id":"341cc22f.af029e","type":"function","z":"36502ef1.499d82","name":"","func":"global.set('overrideTable',\"0\");\nif (msg.payload==\"1\") msg.payload=\"ich kriege mein Licht eingeschaltet\"\nif (msg.payload==\"0\") msg.payload=\"ich kriege mein Licht ausgeschaltet\"\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":123,"wires":[[]]},{"id":"9610529a.fafac","type":"ui_audio","z":"36502ef1.499d82","name":"","group":"f0e523d.12faae","voice":"1","always":"","x":577,"y":129,"wires":[]},{"id":"ac65641d.26e5a8","type":"mqtt in","z":"36502ef1.499d82","name":"ALEXA","topic":"LAB/PIR/TABLE/alexa/1","qos":"1","broker":"274f70c9.56184","x":911,"y":762,"wires":[["1fb1a402.c51e4c"]]},{"id":"4bc042e4.1f129c","type":"function","z":"36502ef1.499d82","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":513,"y":225,"wires":[[]]},{"id":"d5f05e64.d4265","type":"function","z":"36502ef1.499d82","name":"","func":"var overrideMain = global.get('overrideMain');\nvar overrideTable = global.get('overrideTable');\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timeFormat= dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+timeFormat});    \n\nvar top=msg.topic.toString();\nvar pay=msg.payload.toString();\n\nif(msg.topic.includes(\"MAIN\")) overrideTable =\"NONE\"\nmsg.topic = \"INSERT INTO Sonoff (Topic,timeStamp,payload,overrideMain,overrideTable) VALUES (?,?,?,?,?)\";\nmsg.payload = [top,timeFormat,pay, overrideMain,overrideTable];\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":895,"wires":[[]]},{"id":"e86610ec.c4207","type":"mqtt out","z":"36502ef1.499d82","name":"LIGHT_TABLE","topic":"LAB/LIGHT/LIGHT_TABLE/relay/0","qos":"1","retain":"false","broker":"274f70c9.56184","x":1599,"y":513,"wires":[]},{"id":"279a4434.f08e4c","type":"function","z":"36502ef1.499d82","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":1573,"y":565,"wires":[[]]},{"id":"77e62770.bc4288","type":"function","z":"36502ef1.499d82","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":1592,"y":169,"wires":[[]]},{"id":"63a81668.4511e8","type":"function","z":"36502ef1.499d82","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":1137,"y":279,"wires":[[]]},{"id":"44f2faa2.349014","type":"function","z":"36502ef1.499d82","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":1112,"y":365,"wires":[[]]},{"id":"cb7c5619.b3dcf8","type":"switch","z":"474a109b.3ffcd","name":"occupancy true","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1260,"wires":[["dcac4c9f.9df36"]]},{"id":"dcac4c9f.9df36","type":"trigger","z":"474a109b.3ffcd","op1":"{\"state\":\"ON\"}","op2":"{\"state\":\"OFF\"}","op1type":"json","op2type":"json","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":650,"y":1260,"wires":[["5059a830.596788"]]},{"id":"da571b4e.61c628","type":"switch","z":"474a109b.3ffcd","name":"Contact false","property":"payload.contact","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1340,"wires":[["dcac4c9f.9df36"]]},{"id":"1c3933d1.65078c","type":"mqtt in","z":"474a109b.3ffcd","name":"WohnzimmerLampe","topic":"zigbee2mqtt/WohnzimmerLampe","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":170,"y":300,"wires":[["8e9deaab.fbabe8"]]},{"id":"8e9deaab.fbabe8","type":"function","z":"474a109b.3ffcd","name":"Store value","func":"var parts = msg.topic.split(\"/\");\nvar device = parts[1];\n\nglobal.set( device + '_state', msg.payload.state)\nglobal.set(device + '_brightness', msg.payload.brightness)\nglobal.set(device + '_color_temp', msg.payload.color_temp)","outputs":1,"noerr":0,"x":570,"y":300,"wires":[[]]},{"id":"66a4f49c.77cfdc","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Schlafzimmer","topic":"zigbee2mqtt/SchalfzimmerDecke","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":180,"y":360,"wires":[["8e9deaab.fbabe8"]]},{"id":"6f016d4e.83c764","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Fernsehzimmer","topic":"zigbee2mqtt/FernsehzimmerLampe","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":180,"y":420,"wires":[["8e9deaab.fbabe8"]]},{"id":"88dadc0a.891cf","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Büro","topic":"zigbee2mqtt/BueroLampe","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":150,"y":480,"wires":[["8e9deaab.fbabe8"]]},{"id":"ae4e243f.332008","type":"comment","z":"474a109b.3ffcd","name":"Show status on node","info":"node.status({fill:\"blue\",shape:\"ring\",text: \"State: \" + global.get(\"WohnzimmerLicht_state\") + \" brightness: \" + global.get(\"WohnzimmerLicht_brightness\") + \" color_temp: \" + global.get(\"WohnzimmerLicht_color_temp\")}); \n","x":630,"y":1500,"wires":[]},{"id":"2089633b.f8695c","type":"function","z":"474a109b.3ffcd","name":"","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1820,"wires":[["7bb69d98.2dec44"]]},{"id":"47f8d3d5.4f86fc","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Fernsehzimmer","topic":"zigbee2mqtt/WohnzimmerLampe","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":160,"y":1820,"wires":[["fb296b87.00f578","4af9d7f1.580818","554dcbb0.654d84","ffb381f9.2d07b"]]},{"id":"fb296b87.00f578","type":"function","z":"474a109b.3ffcd","name":"Set state","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true\n    break\n    case \"OFF\":\n        msg.payload = false\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1820,"wires":[["ef7e9c4e.f612a"]]},{"id":"4af9d7f1.580818","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1860,"wires":[["b16c6813.283928"]]},{"id":"554dcbb0.654d84","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.color_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1900,"wires":[["52ae203c.cf139"]]},{"id":"ffb381f9.2d07b","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":1780,"wires":[]}]