.flows.json.backup
[{"id":"54d597dc.091d98","type":"tab","label":"StiebelEltron","disabled":false,"info":""},{"id":"d758016d.a72ea","type":"tab","label":"Temperatur Sensoren","disabled":false,"info":""},{"id":"474a109b.3ffcd","type":"tab","label":"Lampen","disabled":false,"info":""},{"id":"b53ac254.c61c7","type":"tab","label":"Log to DB","disabled":false,"info":""},{"id":"aeaee698.066bd8","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"${MQTTSERVER}","port":"${MQTTPORT}","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d99c3e7.1afe6c","type":"modbus-client","z":0,"name":"StiebelEltronWP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"${MODBUSHOST}","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5db59100.6471","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86cfc9c1.14a5d8","type":"ui_tab","z":0,"name":"Wäremepumpe","icon":"dashboard","disabled":false,"hidden":false},{"id":"d491d6cc.a16b68","type":"ui_group","z":"","name":"Heizung","tab":"86cfc9c1.14a5d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d461b5.7f18a648","type":"ui_group","z":0,"name":"Warmwasser","tab":"86cfc9c1.14a5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5c3073f.444098","type":"zigbee2mqtt-server","z":"","name":"","host":"mqtt","mqtt_port":"${MQTTPORT}","mqtt_username":"${MQTTUSER}","mqtt_password":"${MQTTPW}","base_topic":"zigbee2mqtt"},{"id":"e5358295.10d7d8","type":"ui_group","z":"","name":"Licht","tab":"98e883e6.76006","order":3,"disp":true,"width":"6","collapse":false},{"id":"4220e2b.fee729c","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"${INFLUXDB}","name":"","usetls":false,"tls":""},{"id":"73c472f9.f1a9cc","type":"ui_group","z":"","name":"Temperaturen","tab":"86cfc9c1.14a5d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"98e883e6.76006","type":"ui_tab","z":"","name":"Schlafzimmer","icon":"dashboard","disabled":false,"hidden":false},{"id":"2b4764ba.e4abec","type":"ui_group","z":"","name":"Wohnzimmer","tab":"2e3a0fb9.ae77c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e3a0fb9.ae77c","type":"ui_tab","z":"","name":"Zimmer","icon":"dashboard","disabled":false,"hidden":false},{"id":"88451831.e5e9c8","type":"ui_group","z":"","name":"Zimmer Tina","tab":"2e3a0fb9.ae77c","order":2,"disp":true,"width":"6","collapse":false},{"id":"c61e6f12.2b183","type":"inject","z":"54d597dc.091d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["c1458cc7.76bc4"]]},{"id":"c1458cc7.76bc4","type":"function","z":"54d597dc.091d98","name":"Read from Stiebel","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 4,\n    'unitid': 1,\n    'address': 501,\n    'quantity': 25\n};\nreturn msg","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["f977a7c3.70c358"]]},{"id":"1085c68d.41e109","type":"function","z":"54d597dc.091d98","name":"Split Heizung WW","func":"let TAussen = msg.payload[5]/10;\nlet TIstHK1 = msg.payload[6]/10;\nlet TSollHK1 = msg.payload[8]/10;\nlet TIstHK2 = msg.payload[9]/10;\nlet TSollHK2 = msg.payload[10]/10;\nlet TIstVor = msg.payload[13]/10;\nlet TIstPuff = msg.payload[16]/10;\nlet TSollPuff = msg.payload[17]/10;\nlet TFrost = msg.payload[7]/10;\nlet TIstWW = msg.payload[20]/10;\nlet TSollWW = msg.payload[21]/10;\n\nmsg = {\n    topic: \"DatenStiebel\",\n    TAussen: TAussen,\n    TIstHK1: TIstHK1,\n    TSollHK1: TSollHK1,\n    TIstHK2: TIstHK2,\n    TSollHK2: TSollHK2,\n    TIstVor: TIstVor,\n    TIstPuff: TIstPuff,\n    TSollPuff: TSollPuff,\n    TFrost: TFrost,\n    TIstWW: TIstWW,\n    TSollWW: TSollWW\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["b894e6f0.b1d678","b1ed68f9.bc0df8","6f02b588.e506ec","f87e42ac.6dfc2","aa47d927.41ec78","893fc1b6.83a65","60370e6f.ac52a","a4a85c3f.b02df","3a35b59c.09546a","644f82ab.3bb55c"]]},{"id":"a4a85c3f.b02df","type":"debug","z":"54d597dc.091d98","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":420,"wires":[]},{"id":"3a051f6f.1015a","type":"comment","z":"54d597dc.091d98","name":"Read Values from ModBus Interface","info":"","x":160,"y":40,"wires":[]},{"id":"7adce928.76f1f8","type":"debug","z":"54d597dc.091d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":220,"wires":[]},{"id":"f977a7c3.70c358","type":"modbus-flex-getter","z":"54d597dc.091d98","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3d99c3e7.1afe6c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":80,"wires":[["1085c68d.41e109","7adce928.76f1f8"],[]]},{"id":"b894e6f0.b1d678","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Aussentemperatur","format":"{{msg.TAussen}} °C","layout":"row-spread","x":1030,"y":40,"wires":[]},{"id":"b1ed68f9.bc0df8","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 1","format":"{{msg.TIstHK1}} °C","layout":"row-spread","x":1050,"y":80,"wires":[]},{"id":"6f02b588.e506ec","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 1","format":"{{msg.TSollHK1}} °C","layout":"row-spread","x":1060,"y":120,"wires":[]},{"id":"f87e42ac.6dfc2","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 2","format":"{{msg.TIstHK2}} °C","layout":"row-spread","x":1050,"y":160,"wires":[]},{"id":"aa47d927.41ec78","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 2","format":"{{msg.TSollHK2}} °C","layout":"row-spread","x":1060,"y":200,"wires":[]},{"id":"893fc1b6.83a65","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Puffer","format":"{{msg.TIstPuff}} °C","layout":"row-spread","x":1050,"y":240,"wires":[]},{"id":"60370e6f.ac52a","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Puffer","format":"{{msg.TSollPuff}} °C","layout":"row-spread","x":1060,"y":280,"wires":[]},{"id":"3a35b59c.09546a","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Warmwasser","format":"{{msg.TIstWW}} °C","layout":"row-spread","x":1080,"y":320,"wires":[]},{"id":"644f82ab.3bb55c","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Warmwasser","format":"{{msg.TSollWW}} °C","layout":"row-spread","x":1080,"y":360,"wires":[]},{"id":"48e24060.5f5a3","type":"mqtt in","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/KellertreppeMotion1","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":150,"y":300,"wires":[["9fbcf32f.ac1bb","e9e169ac.320d58"]]},{"id":"3db20815.065c88","type":"mqtt out","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/KellertreppeLampe/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":1340,"y":240,"wires":[]},{"id":"58114171.47859","type":"mqtt in","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/KellertreppeMotion2","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":150,"y":360,"wires":[["9fbcf32f.ac1bb","5ba7209e.8eb2b"]]},{"id":"9fbcf32f.ac1bb","type":"switch","z":"474a109b.3ffcd","name":"","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":360,"wires":[["5059a830.596788"],["35b32cab.fa0734"]]},{"id":"5059a830.596788","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"state\": \"ON\" }","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["3db20815.065c88","35b32cab.fa0734"]]},{"id":"35b32cab.fa0734","type":"delay","z":"474a109b.3ffcd","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":380,"wires":[["f43a9e0f.38509"]]},{"id":"f43a9e0f.38509","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{   \"state\": \"OFF\" }","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":340,"wires":[["3db20815.065c88"]]},{"id":"66bbc75c.65c2a8","type":"inject","z":"474a109b.3ffcd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":240,"wires":[["5059a830.596788"]]},{"id":"b166a1ed.ee758","type":"inject","z":"474a109b.3ffcd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":440,"wires":[["f43a9e0f.38509"]]},{"id":"815f945a.bd10c8","type":"ui_button","z":"474a109b.3ffcd","name":"","group":"e5358295.10d7d8","order":0,"width":0,"height":0,"passthru":true,"label":"Licht","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"state\": \"toggle\" }","payloadType":"str","topic":"","x":550,"y":520,"wires":[["233edc90.db1564"]]},{"id":"bbc313cc.c428e8","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"slider","tooltip":"","group":"e5358295.10d7d8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"brightness","min":0,"max":"255","step":"10","x":550,"y":560,"wires":[["57e8670c.317a78"]]},{"id":"60e3a7b3.04edb8","type":"influxdb out","z":"b53ac254.c61c7","influxdb":"4220e2b.fee729c","name":"","measurement":"","precision":"","retentionPolicy":"","x":240,"y":60,"wires":[]},{"id":"e9e169ac.320d58","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":160,"wires":[]},{"id":"410f2707.5ab04","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/WohnzimmerTemp","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":170,"y":80,"wires":[["7b057c53.d86394"]]},{"id":"d0f3e21f.8f43a8","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":80,"wires":[]},{"id":"233edc90.db1564","type":"mqtt out","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/SchlafzimmerLampe/set","qos":"","retain":"","broker":"aeaee698.066bd8","x":990,"y":560,"wires":[]},{"id":"e7386913.281d48","type":"mqtt in","z":"474a109b.3ffcd","name":"","topic":"zigbee2mqtt/SchalfzimmerLampe","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":130,"y":560,"wires":[["4e39293a.39af08"]]},{"id":"4e39293a.39af08","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":560,"wires":[["bbc313cc.c428e8"]]},{"id":"57e8670c.317a78","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":560,"wires":[["233edc90.db1564"]]},{"id":"5ba7209e.8eb2b","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":420,"wires":[]},{"id":"7b057c53.d86394","type":"json","z":"d758016d.a72ea","name":"","property":"payload","action":"","pretty":false,"x":410,"y":80,"wires":[["d0f3e21f.8f43a8","4ef74b52.95e914","ba39f88f.597be8"]]},{"id":"4ef74b52.95e914","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":2,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":120,"wires":[]},{"id":"ba39f88f.597be8","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":3,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":160,"wires":[]},{"id":"118f002e.a8a1c","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/TinaTemperatur","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":160,"y":220,"wires":[["71416eb1.ae632"]]},{"id":"3841a838.d6be78","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"71416eb1.ae632","type":"json","z":"d758016d.a72ea","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["3841a838.d6be78","21be18d2.5c3768","66b6306d.2c26c"]]},{"id":"21be18d2.5c3768","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":2,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":260,"wires":[]},{"id":"66b6306d.2c26c","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":3,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":300,"wires":[]}]