.flows.json.backup
[{"id":"d758016d.a72ea","type":"tab","label":"Temperatur Sensoren","disabled":false,"info":""},{"id":"474a109b.3ffcd","type":"tab","label":"Lampen","disabled":false,"info":""},{"id":"7935afc7.0fa2","type":"tab","label":"Keller","disabled":false,"info":""},{"id":"54d597dc.091d98","type":"tab","label":"StiebelEltron","disabled":false,"info":""},{"id":"aeaee698.066bd8","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"${MQTTSERVER}","port":"${MQTTPORT}","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d99c3e7.1afe6c","type":"modbus-client","z":0,"name":"StiebelEltronWP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"${MODBUSHOST}","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5db59100.6471","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#004a95","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#004a95","edited":true},"page-titlebar-backgroundColor":{"value":"#004a95","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0070e1","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#004a95","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86cfc9c1.14a5d8","type":"ui_tab","z":0,"name":"Wäremepumpe","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d491d6cc.a16b68","type":"ui_group","z":"","name":"Heizung","tab":"86cfc9c1.14a5d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d461b5.7f18a648","type":"ui_group","z":0,"name":"Warmwasser","tab":"86cfc9c1.14a5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5c3073f.444098","type":"zigbee2mqtt-server","z":"","name":"","host":"mqtt","mqtt_port":"${MQTTPORT}","mqtt_username":"${MQTTUSER}","mqtt_password":"${MQTTPW}","base_topic":"zigbee2mqtt"},{"id":"4220e2b.fee729c","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"${INFLUXDB}","name":"","usetls":false,"tls":""},{"id":"73c472f9.f1a9cc","type":"ui_group","z":"","name":"Temperaturen","tab":"86cfc9c1.14a5d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"2b4764ba.e4abec","type":"ui_group","z":"","name":"Wohnzimmer","tab":"2e3a0fb9.ae77c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e3a0fb9.ae77c","type":"ui_tab","z":"","name":"Zimmer","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"88451831.e5e9c8","type":"ui_group","z":"","name":"Zimmer Tina","tab":"2e3a0fb9.ae77c","order":6,"disp":true,"width":"6","collapse":false},{"id":"6726f1f0.0807a","type":"ui_group","z":"","name":"Zimmer Jana","tab":"2e3a0fb9.ae77c","order":7,"disp":true,"width":"6","collapse":false},{"id":"dfb23086.f6581","type":"ui_group","z":"","name":"Zimmer Lena","tab":"2e3a0fb9.ae77c","order":8,"disp":true,"width":"6","collapse":false},{"id":"97aea2ad.76c0b","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""},{"id":"f0b01817.b743a8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""},{"id":"9df664cc.1980b8","type":"ui_group","z":"","name":"Fernsehzimmer","tab":"2e3a0fb9.ae77c","order":3,"disp":true,"width":"6","collapse":false},{"id":"689e7e47.63206","type":"ui_group","z":"","name":"Schalfzimmer","tab":"2e3a0fb9.ae77c","order":2,"disp":true,"width":"6","collapse":false},{"id":"c8906df6.69c82","type":"ui_group","z":"","name":"Büro","tab":"2e3a0fb9.ae77c","order":5,"disp":true,"width":"6","collapse":false},{"id":"963e55c7.1f7f08","type":"ui_spacer","name":"spacer","group":"2b4764ba.e4abec","order":4,"width":1,"height":1},{"id":"9f731484.7f1c18","type":"ui_group","z":"","name":"Kellertreppe","tab":"2e3a0fb9.ae77c","order":4,"disp":true,"width":"6","collapse":false},{"id":"90c49d5e.e5ec5","type":"telegram bot","z":"","botname":"${TELEGRAMBOT}","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"aacbc4c3.cb37","type":"ccu-connection","z":"","name":"CCU","host":"192.168.1.120","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"192.168.1.201","rpcServerHost":"192.168.144.2","rpcBinPort":"2069","rpcXmlPort":"2070","queueTimeout":"5000","queuePause":"250","contextStore":""},{"id":"8484ab7d.aca948","type":"chatbot-telegram-node","z":"","botname":"${TELEGRAMBOT}","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"c61e6f12.2b183","type":"inject","z":"54d597dc.091d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["c1458cc7.76bc4"]]},{"id":"c1458cc7.76bc4","type":"function","z":"54d597dc.091d98","name":"Read from Stiebel","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 4,\n    'unitid': 1,\n    'address': 501,\n    'quantity': 25\n};\nreturn msg","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["f977a7c3.70c358"]]},{"id":"1085c68d.41e109","type":"function","z":"54d597dc.091d98","name":"Split Heizung WW","func":"let TAussen = msg.payload[5]/10;\nlet TIstHK1 = msg.payload[6]/10;\nlet TSollHK1 = msg.payload[8]/10;\nlet TIstHK2 = msg.payload[9]/10;\nlet TSollHK2 = msg.payload[10]/10;\nlet TIstVor = msg.payload[13]/10;\nlet TIstPuff = msg.payload[16]/10;\nlet TSollPuff = msg.payload[17]/10;\nlet TFrost = msg.payload[7]/10;\nlet TIstWW = msg.payload[20]/10;\nlet TSollWW = msg.payload[21]/10;\n\nmsg.payload = {\n    name: \"WPHeizung\",\n    TAussen: TAussen,\n    TIstHK1: TIstHK1,\n    TSollHK1: TSollHK1,\n    TIstHK2: TIstHK2,\n    TSollHK2: TSollHK2,\n    TIstVor: TIstVor,\n    TIstPuff: TIstPuff,\n    TSollPuff: TSollPuff,\n    TFrost: TFrost,\n    TIstWW: TIstWW,\n    TSollWW: TSollWW\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["b894e6f0.b1d678","b1ed68f9.bc0df8","6f02b588.e506ec","f87e42ac.6dfc2","aa47d927.41ec78","893fc1b6.83a65","60370e6f.ac52a","3a35b59c.09546a","644f82ab.3bb55c","e0b00a9.0d2fdf8","4db9480b.6d6088"]]},{"id":"3a051f6f.1015a","type":"comment","z":"54d597dc.091d98","name":"Read Values from ModBus Interface","info":"","x":160,"y":40,"wires":[]},{"id":"f977a7c3.70c358","type":"modbus-flex-getter","z":"54d597dc.091d98","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3d99c3e7.1afe6c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":80,"wires":[["1085c68d.41e109"],[]]},{"id":"b894e6f0.b1d678","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Aussentemperatur","format":"{{msg.payload.TAussen}} °C","layout":"row-spread","x":1030,"y":80,"wires":[]},{"id":"b1ed68f9.bc0df8","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 1","format":"{{msg.payload.TIstHK1}} °C","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"6f02b588.e506ec","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 1","format":"{{msg.payload.TSollHK1}} °C","layout":"row-spread","x":1040,"y":160,"wires":[]},{"id":"f87e42ac.6dfc2","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 2","format":"{{msg.payload.TIstHK2}} °C","layout":"row-spread","x":1030,"y":200,"wires":[]},{"id":"aa47d927.41ec78","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 2","format":"{{msg.payload.TSollHK2}} °C","layout":"row-spread","x":1040,"y":240,"wires":[]},{"id":"893fc1b6.83a65","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Puffer","format":"{{msg.payload.TIstPuff}} °C","layout":"row-spread","x":1040,"y":280,"wires":[]},{"id":"60370e6f.ac52a","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Puffer","format":"{{msg.payload.TSollPuff}} °C","layout":"row-spread","x":1040,"y":320,"wires":[]},{"id":"3a35b59c.09546a","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Warmwasser","format":"{{msg.payload.TIstWW}} °C","layout":"row-spread","x":1060,"y":360,"wires":[]},{"id":"644f82ab.3bb55c","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Warmwasser","format":"{{msg.payload.TSollWW}} °C","layout":"row-spread","x":1060,"y":400,"wires":[]},{"id":"48e24060.5f5a3","type":"mqtt in","z":"474a109b.3ffcd","name":"Motion1","topic":"zigbee2mqtt/UG/kellertreppe/sensor/motion1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":130,"y":940,"wires":[["cb7c5619.b3dcf8"]]},{"id":"58114171.47859","type":"mqtt in","z":"474a109b.3ffcd","name":"Motion2","topic":"zigbee2mqtt/UG/kellertreppe/sensor/motion2","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":130,"y":1000,"wires":[["cb7c5619.b3dcf8"]]},{"id":"5059a830.596788","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/kellertreppe/lamp/wand","tot":"str"},{"t":"set","p":"time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":940,"wires":[["f1901e4c.b4408","c92acea.2cb923"]]},{"id":"410f2707.5ab04","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/EG/wohnzimmer/sensor/weather","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":210,"y":80,"wires":[["d0f3e21f.8f43a8","6991ba10.923c74","4ef74b52.95e914","ba39f88f.597be8"]]},{"id":"d0f3e21f.8f43a8","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":5,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":80,"wires":[]},{"id":"4ef74b52.95e914","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":6,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":120,"wires":[]},{"id":"ba39f88f.597be8","type":"ui_text","z":"d758016d.a72ea","group":"2b4764ba.e4abec","order":7,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":160,"wires":[]},{"id":"118f002e.a8a1c","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/EG/tina/sensor/weather","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":180,"y":220,"wires":[["3841a838.d6be78","21be18d2.5c3768","66b6306d.2c26c","6991ba10.923c74"]]},{"id":"3841a838.d6be78","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":5,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"21be18d2.5c3768","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":6,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":260,"wires":[]},{"id":"66b6306d.2c26c","type":"ui_text","z":"d758016d.a72ea","group":"88451831.e5e9c8","order":7,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":300,"wires":[]},{"id":"f83d1f64.05d13","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/OG/jana/sensor/weather","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":190,"y":340,"wires":[["2910d20e.4d7a1e","4a068227.24b79c","6991ba10.923c74"]]},{"id":"2910d20e.4d7a1e","type":"ui_text","z":"d758016d.a72ea","group":"6726f1f0.0807a","order":5,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":380,"wires":[]},{"id":"4a068227.24b79c","type":"ui_text","z":"d758016d.a72ea","group":"6726f1f0.0807a","order":6,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":420,"wires":[]},{"id":"4d15b7a8.17b948","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/OG/lena/sensor/weather","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":190,"y":480,"wires":[["2293c93b.851e86","40380758.2f8998","dc54ccab.05539","6991ba10.923c74"]]},{"id":"2293c93b.851e86","type":"ui_text","z":"d758016d.a72ea","group":"dfb23086.f6581","order":1,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":710,"y":480,"wires":[]},{"id":"40380758.2f8998","type":"ui_text","z":"d758016d.a72ea","group":"dfb23086.f6581","order":2,"width":0,"height":0,"name":"","label":"Luftfeuchte","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":710,"y":520,"wires":[]},{"id":"dc54ccab.05539","type":"ui_text","z":"d758016d.a72ea","group":"dfb23086.f6581","order":3,"width":0,"height":0,"name":"","label":"Luftdruck","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":700,"y":560,"wires":[]},{"id":"64c6a8d2.60a3f8","type":"mqtt in","z":"474a109b.3ffcd","name":"Schalter Remo","topic":"zigbee2mqtt/UG/schlafzimmer/dimmer/remo","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":140,"y":80,"wires":[["afa6ae01.4b788"]]},{"id":"afa6ae01.4b788","type":"change","z":"474a109b.3ffcd","name":"Lampe Remo","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/schlafzimmer/lamp/remo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["2f500d4c.efd4d2"]]},{"id":"738a6c6f.f751d4","type":"mqtt in","z":"474a109b.3ffcd","name":"Schalter Franziska","topic":"zigbee2mqtt/UG/schlafzimmer/dimmer/franziska","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":150,"y":140,"wires":[["a6a4da0e.d571a8"]]},{"id":"a6a4da0e.d571a8","type":"change","z":"474a109b.3ffcd","name":"Lampe Franziska","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/schlafzimmer/lamp/franziska","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["2f500d4c.efd4d2"]]},{"id":"620bf5ae.9c987c","type":"link in","z":"474a109b.3ffcd","name":"IKEA Dimmer in","links":["2f500d4c.efd4d2"],"x":95,"y":700,"wires":[["53508dea.9db1a4"]]},{"id":"85409bd.db56368","type":"link out","z":"474a109b.3ffcd","name":"IKEA Dimmer out","links":["268459bd.583ad6"],"x":375,"y":700,"wires":[]},{"id":"2f500d4c.efd4d2","type":"link out","z":"474a109b.3ffcd","name":"IKEA Dimmer send to function","links":["620bf5ae.9c987c"],"x":615,"y":80,"wires":[]},{"id":"268459bd.583ad6","type":"link in","z":"474a109b.3ffcd","name":"Sent to Device","links":["85409bd.db56368","f1901e4c.b4408","718444d7.aeb6ac","febe1e21.b3792","a8bc0cb6.13e49","3d1bdd6d.b1c352","d5b1153c.e0bb38","31afbf8b.93b03","d0cd5f0a.6665f","c4922168.5bef3","965434.495d8bd","7079a63f.26a4e8","cee739c9.92c8f8","e404d4d7.02c3d8","e8e07c4f.b80cb","fde22b8.d8cd7d8","af80d9cf.d3b628"],"x":95,"y":568,"wires":[["1c6bf4f6.b4ba7b"]]},{"id":"cb8ba7ee.299e48","type":"comment","z":"474a109b.3ffcd","name":"IKEA Dimmer Standard Functions","info":"","x":210,"y":640,"wires":[]},{"id":"868692df.732a6","type":"comment","z":"474a109b.3ffcd","name":"Configuration Lampen","info":"","x":140,"y":40,"wires":[]},{"id":"f1901e4c.b4408","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1075,"y":940,"wires":[]},{"id":"53508dea.9db1a4","type":"function","z":"474a109b.3ffcd","name":"Split IKEA Dimmer","func":"switch (msg.payload.click){\ncase \"on\":\n    msg.payload = {\"state\": \"ON\"};\n    break;\ncase \"off\":\n    msg.payload = {\"state\": \"OFF\"}\n    break;\ncase \"brightness_up\":\n    msg.payload = {\"brightness_move\": 50}\n    break;\ncase \"brightness_down\":\n    msg.payload = {\"brightness_move\": -50}\n    break\ncase \"brightness_stop\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break  \n}\nreturn msg","outputs":1,"noerr":0,"x":230,"y":700,"wires":[["85409bd.db56368"]]},{"id":"5304edc1.a98194","type":"link in","z":"474a109b.3ffcd","name":"IKEA Remote in","links":["7f722f10.04a9b","a1fee82a.da5448","4014dde7.ae1664"],"x":95,"y":820,"wires":[["c0420def.bbab8"]]},{"id":"febe1e21.b3792","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote out","links":["268459bd.583ad6"],"x":375,"y":820,"wires":[]},{"id":"c941feca.2d759","type":"comment","z":"474a109b.3ffcd","name":"IKEA Remote Functions","info":"","x":180,"y":760,"wires":[]},{"id":"c0420def.bbab8","type":"function","z":"474a109b.3ffcd","name":"Split IKEA Remote","func":"var device = msg.device\nvar bri = global.get(device + \"_brightness\")\nvar temp = global.get(device + \"_color_temp\")\n\nswitch (msg.payload.action){\ncase \"toggle\":\n    msg.payload = {\"state\": \"TOGGLE\"};\n    break;\ncase \"arrow_left_click\":\n    if ((temp -20) > 0) {\n        temp = temp - 20}\n        else temp = 0\n    msg.payload = {\"color_temp\":temp}\n    break;\ncase \"arrow_left_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_left_release\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_click\":\n    if ((temp + 20) < 455) {\n        temp = temp + 20}\n        else temp = 455\n    msg.payload = {\"color_temp\":temp}\n    break;\ncase \"arrow_right_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_release\":\n    msg.payload = {}\n    break;\ncase \"brightness_up_click\":\n    if ((bri + 10) < 255){\n    bri = bri + 10}\n    else bri = 255\n    msg.payload = {\"brightness\":bri}\n    break;\ncase \"brightness_up_hold\":\n    msg.payload = {\"brightness_move\": 50}\n    break\ncase \"brightness_up_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\ncase \"brightness_down_click\":\n    if ((bri -10) > 0){\n    bri = bri -10}\n    else bri = 1\n    msg.payload = {\"brightness\":bri}\n    break;\ncase \"brightness_down_hold\":\n    msg.payload = {\"brightness_move\": -50}\n    break\ncase \"brightness_down_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\n}\nreturn msg","outputs":1,"noerr":0,"x":230,"y":820,"wires":[["febe1e21.b3792"]]},{"id":"d2448bd1.dd6428","type":"mqtt in","z":"474a109b.3ffcd","name":"Remote Wohnzimmer","topic":"zigbee2mqtt/EG/wohnzimmer/remote/remote1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":160,"y":200,"wires":[["b168f71f.be8378"]]},{"id":"b168f71f.be8378","type":"change","z":"474a109b.3ffcd","name":"Lampe Wohnzimmer","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/EG/wohnzimmer/lamp/decke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["4014dde7.ae1664"]]},{"id":"4014dde7.ae1664","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote Send to function","links":["5304edc1.a98194"],"x":615,"y":200,"wires":[]},{"id":"e0b00a9.0d2fdf8","type":"influxdb out","z":"54d597dc.091d98","influxdb":"4220e2b.fee729c","name":"Log to InfluxDB","measurement":"StiebelEltron","precision":"","retentionPolicy":"","x":1020,"y":40,"wires":[]},{"id":"4db9480b.6d6088","type":"debug","z":"54d597dc.091d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":460,"wires":[]},{"id":"6991ba10.923c74","type":"function","z":"d758016d.a72ea","name":"Get Name","func":"var parts = msg.topic.split(\"/\");\nmsg.payload.name = parts[2] + parts[4]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":40,"wires":[["5a28d5e.afd442c"]]},{"id":"5a28d5e.afd442c","type":"influxdb out","z":"d758016d.a72ea","influxdb":"4220e2b.fee729c","name":"Log to InfluxDB","measurement":"RoomTemperatures","precision":"","retentionPolicy":"","x":900,"y":40,"wires":[]},{"id":"8caad0d5.f96ac","type":"comment","z":"d758016d.a72ea","name":"Room Temperature Dashboard and log to InfluxDB","info":"","x":230,"y":40,"wires":[]},{"id":"687366b8.1129e8","type":"comment","z":"474a109b.3ffcd","name":"Send command to devices","info":"","x":170,"y":519,"wires":[]},{"id":"572a371b.3694f8","type":"comment","z":"474a109b.3ffcd","name":"Kellertreppe Motion Detection","info":"","x":200,"y":880,"wires":[]},{"id":"ff172fb2.df16c","type":"comment","z":"474a109b.3ffcd","name":"Dashboard","info":"","x":140,"y":1160,"wires":[]},{"id":"b16c6813.283928","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"2b4764ba.e4abec","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":1300,"wires":[["3feebffc.65f08"]]},{"id":"3feebffc.65f08","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1300,"wires":[["7bb69d98.2dec44"]]},{"id":"52ae203c.cf139","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"2b4764ba.e4abec","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"455","step":"10","x":660,"y":1360,"wires":[["6153ed7.a51a014"]]},{"id":"6153ed7.a51a014","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1360,"wires":[["7bb69d98.2dec44"]]},{"id":"3d1bdd6d.b1c352","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":1240,"wires":[]},{"id":"7bb69d98.2dec44","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/EG/wohnzimmer/lamp/decke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1240,"wires":[["3d1bdd6d.b1c352"]]},{"id":"ef7e9c4e.f612a","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"2b4764ba.e4abec","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"${{msg.topic}}","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":1240,"wires":[["2089633b.f8695c"]]},{"id":"9399f079.5651d","type":"mqtt in","z":"474a109b.3ffcd","name":"DoorSensor","topic":"zigbee2mqtt/UG/kellertreppe/sensor/door1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":150,"y":1060,"wires":[["da571b4e.61c628"]]},{"id":"cb7c5619.b3dcf8","type":"switch","z":"474a109b.3ffcd","name":"occupancy true","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":940,"wires":[["dcac4c9f.9df36"]]},{"id":"dcac4c9f.9df36","type":"trigger","z":"474a109b.3ffcd","op1":"{\"state\":\"ON\"}","op2":"{\"state\":\"OFF\"}","op1type":"json","op2type":"json","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":710,"y":940,"wires":[["5059a830.596788"]]},{"id":"da571b4e.61c628","type":"switch","z":"474a109b.3ffcd","name":"Contact false","property":"payload.contact","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1020,"wires":[["dcac4c9f.9df36","6ac2f20f.2cff6c"]]},{"id":"1c3933d1.65078c","type":"mqtt in","z":"474a109b.3ffcd","name":"WohnzimmerLampe","topic":"zigbee2mqtt/EG/wohnzimmer/lamp/decke","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":870,"y":80,"wires":[["8e9deaab.fbabe8"]]},{"id":"8e9deaab.fbabe8","type":"function","z":"474a109b.3ffcd","name":"Store value","func":"var device = msg.topic\n\nglobal.set(device + '_time', Date().now, \"bank1\")\nif (msg.payload.hasOwnProperty(\"state\")){global.set(device + '_state', msg.payload.state, \"bank1\")}\nif (msg.payload.hasOwnProperty(\"brightness\")){global.set(device + '_brightness', msg.payload.brightness, \"bank1\")}\nif (msg.payload.hasOwnProperty(\"color_temp\")){global.set(device + '_color_temp', msg.payload.color_temp, \"bank1\")}\nif (msg.payload.hasOwnProperty(\"color\")){\n    global.set(device + '_colorX', msg.payload.color.x, \"bank1\")\n    global.set(device + '_colorY', msg.payload.color.y, \"bank1\")\n    \n}","outputs":1,"noerr":0,"x":1270,"y":80,"wires":[[]]},{"id":"66a4f49c.77cfdc","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Schlafzimmer","topic":"zigbee2mqtt/UG/schalfzimmer/lamp/decke","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":880,"y":140,"wires":[["8e9deaab.fbabe8"]]},{"id":"6f016d4e.83c764","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Fernsehzimmer","topic":"zigbee2mqtt/EG/fernsehzimmer/lamp/ambient","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":880,"y":200,"wires":[["8e9deaab.fbabe8"]]},{"id":"88dadc0a.891cf","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Büro","topic":"zigbee2mqtt/UG/buero/lamp/lampe1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":850,"y":260,"wires":[["8e9deaab.fbabe8"]]},{"id":"2089633b.f8695c","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1240,"wires":[["7bb69d98.2dec44"]]},{"id":"47f8d3d5.4f86fc","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Wohnzimmer","topic":"zigbee2mqtt/EG/wohnzimmer/lamp/decke","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":170,"y":1240,"wires":[["fb296b87.00f578","4af9d7f1.580818","554dcbb0.654d84"]]},{"id":"fb296b87.00f578","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1240,"wires":[["ef7e9c4e.f612a"]]},{"id":"4af9d7f1.580818","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1300,"wires":[["b16c6813.283928"]]},{"id":"554dcbb0.654d84","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.color_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1360,"wires":[["52ae203c.cf139"]]},{"id":"3e5831c3.06e8ee","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"9df664cc.1980b8","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":1480,"wires":[["aab8a15e.932c2"]]},{"id":"aab8a15e.932c2","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1480,"wires":[["86e71519.80a918"]]},{"id":"d0cd5f0a.6665f","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":1420,"wires":[]},{"id":"86e71519.80a918","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/EG/fernsehzimmer/lamp/ambient","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1420,"wires":[["d0cd5f0a.6665f"]]},{"id":"d771dc4f.4e7d7","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"9df664cc.1980b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":1420,"wires":[["880ccfb3.ac4f6"]]},{"id":"880ccfb3.ac4f6","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1420,"wires":[["86e71519.80a918"]]},{"id":"5e34e403.357bdc","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Fernsehzimmer","topic":"zigbee2mqtt/OG/fernsehzimmer/lamp/","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":180,"y":1420,"wires":[["b697c4c1.a87128","f909fcf.58064"]]},{"id":"b697c4c1.a87128","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1420,"wires":[["d771dc4f.4e7d7"]]},{"id":"f909fcf.58064","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1480,"wires":[["3e5831c3.06e8ee"]]},{"id":"fb4d86b0.07a478","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"689e7e47.63206","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":1600,"wires":[["5df3d894.c60f98"]]},{"id":"5df3d894.c60f98","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1600,"wires":[["ee6c4e2e.03d27"]]},{"id":"4c8555d5.2a2c1c","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"689e7e47.63206","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"455","step":"10","x":660,"y":1660,"wires":[["3c070c5b.a70c54"]]},{"id":"3c070c5b.a70c54","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1660,"wires":[["ee6c4e2e.03d27"]]},{"id":"c4922168.5bef3","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":1540,"wires":[]},{"id":"ee6c4e2e.03d27","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/schlafzimmer/lamp/decke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1540,"wires":[["c4922168.5bef3"]]},{"id":"126c56.d81a33aa","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht Decke","tooltip":"","group":"689e7e47.63206","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":1540,"wires":[["f02c003c.b47ef"]]},{"id":"f02c003c.b47ef","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1540,"wires":[["ee6c4e2e.03d27"]]},{"id":"ef8c5fe.7eaa9a","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Decke Schlafzimmer","topic":"zigbee2mqtt/UG/schlafzimmer/lamp/decke","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":200,"y":1540,"wires":[["8a0c8cea.265ff","801eee0a.55ab9","a6129b58.5be688"]]},{"id":"8a0c8cea.265ff","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1540,"wires":[["126c56.d81a33aa"]]},{"id":"801eee0a.55ab9","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1600,"wires":[["fb4d86b0.07a478"]]},{"id":"a6129b58.5be688","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.color_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1660,"wires":[["4c8555d5.2a2c1c"]]},{"id":"b3b3dbca.bd9458","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"689e7e47.63206","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":1780,"wires":[["c19647e7.0686b8"]]},{"id":"c19647e7.0686b8","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1780,"wires":[["e0357ff9.384ac"]]},{"id":"965434.495d8bd","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":1720,"wires":[]},{"id":"e0357ff9.384ac","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/schlafzimmer/lamp/remo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1720,"wires":[["965434.495d8bd"]]},{"id":"5a322575.c8cb7c","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht Remo","tooltip":"","group":"689e7e47.63206","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":1720,"wires":[["7fd01b8c.2e6804"]]},{"id":"7fd01b8c.2e6804","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1720,"wires":[["e0357ff9.384ac"]]},{"id":"fa92c9be.e73888","type":"mqtt in","z":"474a109b.3ffcd","name":"Schlafzimmer Remo","topic":"zigbee2mqtt/UG/schlafzimmer/lamp/remo","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":170,"y":1720,"wires":[["c1959a89.ec7ea8","86a5337b.be56c"]]},{"id":"c1959a89.ec7ea8","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1720,"wires":[["5a322575.c8cb7c"]]},{"id":"86a5337b.be56c","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1780,"wires":[["b3b3dbca.bd9458"]]},{"id":"2c129372.2191ec","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"689e7e47.63206","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":1900,"wires":[["43208d8b.4e7fe4"]]},{"id":"43208d8b.4e7fe4","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1900,"wires":[["7be65892.02eec8"]]},{"id":"7079a63f.26a4e8","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":1840,"wires":[]},{"id":"7be65892.02eec8","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/schlafzimmer/lamp/franziska","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1840,"wires":[["7079a63f.26a4e8"]]},{"id":"cf6ca0f.c56c16","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht Franziska","tooltip":"","group":"689e7e47.63206","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":1840,"wires":[["37ceee82.84c032"]]},{"id":"37ceee82.84c032","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1840,"wires":[["7be65892.02eec8"]]},{"id":"fefb558b.87ddc8","type":"mqtt in","z":"474a109b.3ffcd","name":"Schlafzimmer Franziska","topic":"zigbee2mqtt/UG/schlafzimmer/lamp/franziska","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":180,"y":1840,"wires":[["2b6db5c5.85671a","64e31963.8644b8"]]},{"id":"2b6db5c5.85671a","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1840,"wires":[["cf6ca0f.c56c16"]]},{"id":"64e31963.8644b8","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1900,"wires":[["2c129372.2191ec"]]},{"id":"12357f1.ab92781","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"9f731484.7f1c18","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":2020,"wires":[["2b74a303.0cd04c"]]},{"id":"2b74a303.0cd04c","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2020,"wires":[["714d392a.4c54f8"]]},{"id":"cee739c9.92c8f8","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":1960,"wires":[]},{"id":"714d392a.4c54f8","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/kellertreppe/lamp/wand","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1960,"wires":[["cee739c9.92c8f8"]]},{"id":"798b6408.92a59c","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1960,"wires":[["714d392a.4c54f8"]]},{"id":"1c9900d4.87b0ff","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Kellertreppe","topic":"zigbee2mqtt/UG/kellertreppe/lamp/wand","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":170,"y":1960,"wires":[["346b5ea3.bda682","95b5cd7a.f9592"]]},{"id":"346b5ea3.bda682","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true\n    break\n    case \"OFF\":\n        msg.payload = false\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1960,"wires":[["cc07b67.c788148"]]},{"id":"95b5cd7a.f9592","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2020,"wires":[["12357f1.ab92781"]]},{"id":"cc07b67.c788148","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"9f731484.7f1c18","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":1960,"wires":[["798b6408.92a59c"]]},{"id":"f2cb0091.8914b","type":"mqtt in","z":"474a109b.3ffcd","name":"Remote Schlafzimmer","topic":"zigbee2mqtt/UG/schlafzimmer/remote/remote1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":160,"y":260,"wires":[["a7b5e37.e6f1f2"]]},{"id":"a7b5e37.e6f1f2","type":"change","z":"474a109b.3ffcd","name":"Lampe Schlafzimmer","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/UG/schlafzimmer/lamp/decke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["4014dde7.ae1664"]]},{"id":"c79a2310.41a68","type":"mqtt in","z":"7935afc7.0fa2","name":"","topic":"zigbee2mqtt/UG/buero/test/button","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":190,"y":80,"wires":[["2140c56e.e34a5a"]]},{"id":"15ee1b2d.6c3235","type":"telegram sender","z":"7935afc7.0fa2","name":"","bot":"90c49d5e.e5ec5","x":1170,"y":60,"wires":[[]]},{"id":"2140c56e.e34a5a","type":"switch","z":"7935afc7.0fa2","name":"","property":"payload.contact","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":80,"wires":[["d58cb504.861248"],["1e1b4e0.f6aacb2"]]},{"id":"d58cb504.861248","type":"change","z":"7935afc7.0fa2","name":"Create msg","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Tiefkühler offen","tot":"str"},{"t":"set","p":"payload.chatId","pt":"msg","to":"286440959","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"text","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":60,"wires":[["c62c1fb4.57fef","28d5f2b3.bd4f4e"]]},{"id":"c62c1fb4.57fef","type":"delay","z":"7935afc7.0fa2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":80,"wires":[["15ee1b2d.6c3235"]]},{"id":"1e1b4e0.f6aacb2","type":"change","z":"7935afc7.0fa2","name":"reset","rules":[{"t":"set","p":"payload.reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":120,"wires":[["c62c1fb4.57fef"]]},{"id":"cbc15a0f.501428","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampen Tina","topic":"zigbee2mqtt/G_Tina1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":850,"y":320,"wires":[["8e9deaab.fbabe8"]]},{"id":"6092b337.0b6ecc","type":"mqtt in","z":"474a109b.3ffcd","name":"Remote Tina","topic":"zigbee2mqtt/EG/tina/remote/remote1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":130,"y":320,"wires":[["d45228d5.353158"]]},{"id":"d45228d5.353158","type":"change","z":"474a109b.3ffcd","name":"LampenTina","rules":[{"t":"set","p":"device","pt":"msg","to":"G_Tina1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["4014dde7.ae1664"]]},{"id":"1c6bf4f6.b4ba7b","type":"function","z":"474a109b.3ffcd","name":"Set topic","func":"msg.topic = msg.device + \"/set\";\nvar status_payload = JSON.stringify(msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text: \"Device: \" + msg.device + \" payload: \" + status_payload}); \nreturn msg;","outputs":1,"noerr":0,"x":220,"y":568,"wires":[["8f5c66eb.335048"]]},{"id":"8f5c66eb.335048","type":"mqtt out","z":"474a109b.3ffcd","name":"","topic":"","qos":"","retain":"","broker":"aeaee698.066bd8","x":370,"y":548,"wires":[]},{"id":"3a85d05c.ef1e2","type":"inject","z":"474a109b.3ffcd","name":"","topic":"","payload":"[\"FF0000\",\"FF3300\",\"FF6600\",\"FF9900\",\"FFCC00\",\"FFFF00\",\"CCFF00\",\"99FF00\",\"66FF00\",\"33FF00\",\"00FF00\",\"00FF33\",\"00FF66\",\"00FF99\",\"00FFCC\",\"00FFFF\",\"FFFFFF\",\"00CCFF\",\"0099FF\",\"0066FF\",\"0033FF\",\"0000FF\",\"3300FF\",\"6600FF\",\"9900FF\",\"CC00FF\",\"FF00FF\",\"FF00CC\",\"FF0099\",\"FF0066\",\"FF0033\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":440,"wires":[["129f7e28.3b28c2"]]},{"id":"129f7e28.3b28c2","type":"function","z":"474a109b.3ffcd","name":"Set IKEA colors","func":"global.set( \"IKEA_Colors\", msg.payload , \"bank1\")\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":440,"wires":[[]]},{"id":"a175ccd4.68a8f","type":"link in","z":"474a109b.3ffcd","name":"IKEA Color Remote in","links":["109e6e73.511122"],"x":515,"y":820,"wires":[["fce02aa4.9a46f8"]]},{"id":"fde22b8.d8cd7d8","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote out","links":["268459bd.583ad6"],"x":835,"y":820,"wires":[]},{"id":"fce02aa4.9a46f8","type":"function","z":"474a109b.3ffcd","name":"Split IKEA Remote Color","func":"var IKEAcolor = global.get(\"IKEA_Colors\" ,\"bank1\")\nvar device = msg.device\nvar bri = global.get(device + \"_brightness\", \"bank1\")\nvar temp = global.get(device + \"_color_temp\", \"bank1\")\nvar lastcolor = global.get(device + \"_last_color\", \"bank1\")\nvar color = global.get(device + \"_last_color\", \"bank1\")\n\nswitch (msg.payload.action){\ncase \"toggle\":\n    msg.payload = {\"state\": \"TOGGLE\"};\n    break;\ncase \"arrow_left_click\":\n    if (color < IKEAcolor.length){\n        color = color + 1\n    }\n    else\n    color = 0\n    global.set(device + '_last_color', color, \"bank1\")\n    msg.payload = {\"color\":\"#\"+IKEAcolor[color]};\n    break;\ncase \"arrow_left_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_left_release\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_click\":\n    if (color > 0){\n        color = color -1\n    }\n    else\n    color = IKEAcolor.length;\n    global.set(device + '_last_color', color, \"bank1\")\n    msg.payload = {\"color\":\"#\"+IKEAcolor[color]};\n    break\ncase \"arrow_right_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_release\":\n    msg.payload = {}\n    break;\ncase \"brightness_up_click\":\n    if ((bri + 10) < 255){\n    bri = bri + 10}\n    else bri = 255\n    msg.payload = {\"brightness\":bri}\n    break;\ncase \"brightness_up_hold\":\n    msg.payload = {\"brightness_move\": 50}\n    break\ncase \"brightness_up_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\ncase \"brightness_down_click\":\n    if ((bri -10) > 0){\n    bri = bri -10}\n    else bri = 1\n    msg.payload = {\"brightness\":bri}\n    break;\ncase \"brightness_down_hold\":\n    msg.payload = {\"brightness_move\": -50}\n    break\ncase \"brightness_down_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\n}\nnode.status({fill:\"blue\",shape:\"ring\",text: \"Device: \" + device + \" bri: \" + bri +\" payload: \" + msg.payload});\nreturn msg","outputs":1,"noerr":0,"x":670,"y":820,"wires":[["fde22b8.d8cd7d8","1c8788c8.7b8247"]]},{"id":"b3dad489.97bd68","type":"inject","z":"474a109b.3ffcd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":480,"wires":[["b9da91f9.543ae"]]},{"id":"b9da91f9.543ae","type":"function","z":"474a109b.3ffcd","name":"IKEA Device pairing","func":"var keys = [\"SchlafzimmerSchalterRemo\", \"SchlafzimmerSchalterFranziska\",\"SchlafzimmerRemote\", \"WohnzimmerRemote\", \"TinaRemote\"]\nvar values = [\"SchlafzimmerLampeRemo\", \"SchlafzimmerLampeFranziska\",\"SchlafzimmerDecke\", \"WohnzimmerLampe\", \"G_Tina1\"]\n// Map created \nvar map = new Map(); \n\nfor (var i = 0; i < keys.length; i++){\n    map.set(keys[i], values[i]);\n}\nglobal.set( \"Remote_pairing\", map , \"bank1\")\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":480,"wires":[[]]},{"id":"21cf73e9.046d4c","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"88451831.e5e9c8","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":2140,"wires":[["eecc6d73.d6ba2"]]},{"id":"eecc6d73.d6ba2","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2140,"wires":[["ef3c8b4c.4b9f58"]]},{"id":"2252e1db.80df0e","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Farbtemperatur","tooltip":"","group":"88451831.e5e9c8","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"455","step":"10","x":660,"y":2200,"wires":[["ad2516c3.cad338"]]},{"id":"ad2516c3.cad338","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color_temp\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2200,"wires":[["ef3c8b4c.4b9f58"]]},{"id":"e404d4d7.02c3d8","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":2080,"wires":[]},{"id":"ef3c8b4c.4b9f58","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"G_Tina_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2080,"wires":[["e404d4d7.02c3d8"]]},{"id":"7e993bb2.2c17f4","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht Decke","tooltip":"","group":"88451831.e5e9c8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":2080,"wires":[["c45be102.4172c"]]},{"id":"c45be102.4172c","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":2080,"wires":[["ef3c8b4c.4b9f58"]]},{"id":"c0debcf4.77976","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Tina","topic":"zigbee2mqtt/G_Tina_1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":150,"y":2080,"wires":[["be96f574.68bee8","ef51db22.440978","c03a5924.3a84f8"]]},{"id":"be96f574.68bee8","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2080,"wires":[["7e993bb2.2c17f4"]]},{"id":"ef51db22.440978","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2140,"wires":[["21cf73e9.046d4c"]]},{"id":"c03a5924.3a84f8","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.color_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2200,"wires":[["2252e1db.80df0e"]]},{"id":"6ac2f20f.2cff6c","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1060,"wires":[]},{"id":"d9c11eb9.ac6da","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampen Jana","topic":"zigbee2mqtt/OG/jana/lamp/lampe1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":850,"y":380,"wires":[["8e9deaab.fbabe8"]]},{"id":"1ca2b5be.317d3a","type":"mqtt in","z":"474a109b.3ffcd","name":"Remote Jana","topic":"zigbee2mqtt/OG/jana/remote/remote1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":130,"y":380,"wires":[["350c18db.3f5ca8"]]},{"id":"350c18db.3f5ca8","type":"change","z":"474a109b.3ffcd","name":"Lampe Jana","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/OG/jana/lamp/lampe1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["109e6e73.511122"]]},{"id":"109e6e73.511122","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote Send to function","links":["a175ccd4.68a8f"],"x":615,"y":380,"wires":[]},{"id":"28d5f2b3.bd4f4e","type":"debug","z":"7935afc7.0fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":160,"wires":[]},{"id":"1c8788c8.7b8247","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":780,"wires":[]},{"id":"2566f744.b0bc08","type":"ui_colour_picker","z":"474a109b.3ffcd","name":"","label":"Farbe","group":"6726f1f0.0807a","format":"hex","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":630,"y":2380,"wires":[["533ecf33.8861"]]},{"id":"f571e151.111a6","type":"ui_slider","z":"474a109b.3ffcd","name":"","label":"Helligkeit","tooltip":"","group":"6726f1f0.0807a","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":"10","x":640,"y":2320,"wires":[["644ee51.fa05f1c"]]},{"id":"644ee51.fa05f1c","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2320,"wires":[["bd245a19.68d5e8"]]},{"id":"e8e07c4f.b80cb","type":"link out","z":"474a109b.3ffcd","name":"","links":["268459bd.583ad6"],"x":1255,"y":2260,"wires":[]},{"id":"bd245a19.68d5e8","type":"change","z":"474a109b.3ffcd","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/OG/jana/lamp/lampe1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2260,"wires":[["e8e07c4f.b80cb"]]},{"id":"1ea62a97.a5a5e5","type":"ui_switch","z":"474a109b.3ffcd","name":"","label":"Licht","tooltip":"","group":"6726f1f0.0807a","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":2260,"wires":[["1155ad66.9dc2a3"]]},{"id":"1155ad66.9dc2a3","type":"function","z":"474a109b.3ffcd","name":"Set true to on","func":"switch (msg.payload){\n    case true:\n        msg.payload = { \"state\":\"ON\"}\n    break\n    case false:\n        msg.payload = { \"state\":\"OFF\"}\n    break\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":2260,"wires":[["bd245a19.68d5e8"]]},{"id":"11ed9c3d.2a4ac4","type":"mqtt in","z":"474a109b.3ffcd","name":"Lampe Jana","topic":"zigbee2mqtt/OG/jana/lamp/lampe1","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":150,"y":2260,"wires":[["728192e5.00c62c","41e7ee45.d5ba7"]]},{"id":"728192e5.00c62c","type":"function","z":"474a109b.3ffcd","name":"Set on to true","func":"switch (msg.payload.state){\n    case \"ON\":\n        msg.payload = true;\n    break;\n    case \"OFF\":\n        msg.payload = false;\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2260,"wires":[["1ea62a97.a5a5e5"]]},{"id":"41e7ee45.d5ba7","type":"change","z":"474a109b.3ffcd","name":"Set brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2320,"wires":[["f571e151.111a6"]]},{"id":"533ecf33.8861","type":"function","z":"474a109b.3ffcd","name":"Set color","func":"var x = msg.payload;\n msg.payload = {\"color\": {\"hex\":\"#\"+x}}\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":2380,"wires":[["bd245a19.68d5e8"]]},{"id":"f4f358f2.0940d8","type":"inject","z":"54d597dc.091d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":560,"wires":[["b1d3f43e.aad2b8"]]},{"id":"b1d3f43e.aad2b8","type":"function","z":"54d597dc.091d98","name":"Read from Stiebel","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 4,\n    'unitid': 1,\n    'address': 500,\n    'quantity': 200\n};\nreturn msg","outputs":1,"noerr":0,"x":290,"y":560,"wires":[["b99f5874.8915a8"]]},{"id":"ee94e557.7a4158","type":"function","z":"54d597dc.091d98","name":"Split Heizung WW","func":"let TAussen = msg.payload[5]/10;\nlet TIstHK1 = msg.payload[6]/10;\nlet TSollHK1 = msg.payload[8]/10;\nlet TIstHK2 = msg.payload[9]/10;\nlet TSollHK2 = msg.payload[10]/10;\nlet TIstVor = msg.payload[13]/10;\nlet TIstPuff = msg.payload[16]/10;\nlet TSollPuff = msg.payload[17]/10;\nlet TFrost = msg.payload[7]/10;\nlet TIstWW = msg.payload[20]/10;\nlet TSollWW = msg.payload[21]/10;\n\nmsg.payload = {\n    name: \"WPHeizung\",\n    TAussen: TAussen,\n    TIstHK1: TIstHK1,\n    TSollHK1: TSollHK1,\n    TIstHK2: TIstHK2,\n    TSollHK2: TSollHK2,\n    TIstVor: TIstVor,\n    TIstPuff: TIstPuff,\n    TSollPuff: TSollPuff,\n    TFrost: TFrost,\n    TIstWW: TIstWW,\n    TSollWW: TSollWW\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":560,"wires":[[]]},{"id":"b99f5874.8915a8","type":"modbus-flex-getter","z":"54d597dc.091d98","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3d99c3e7.1afe6c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":560,"wires":[["ee94e557.7a4158","4e801195.f1a4d"],[]]},{"id":"4e801195.f1a4d","type":"debug","z":"54d597dc.091d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":620,"wires":[]},{"id":"ab849a0a.ee2ca8","type":"mqtt in","z":"474a109b.3ffcd","name":"Remote Fernsehzimmer","topic":"zigbee2mqtt/UG/buero/test/symfonisk","qos":"2","datatype":"json","broker":"aeaee698.066bd8","x":160,"y":440,"wires":[["638ee83c.dc4528"]]},{"id":"638ee83c.dc4528","type":"change","z":"474a109b.3ffcd","name":"Lampe Fernsehzimmer","rules":[{"t":"set","p":"device","pt":"msg","to":"zigbee2mqtt/EG/fernsehzimmer/lamp/ambient","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["61393353.0511bc"]]},{"id":"61393353.0511bc","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote Send to function","links":["51c3e3f.59e2b1c"],"x":615,"y":440,"wires":[]},{"id":"e8c74ff1.64f3c","type":"function","z":"474a109b.3ffcd","name":"Split IKEA Symfonisk","func":"var device = msg.device\nvar bri = global.get(device + \"_brightness\", \"bank1\")\nvar temp = global.get(device + \"_color_temp\", \"bank1\")\n\n\nswitch (msg.payload.action){\ncase \"play_pause\":\n    msg.payload = {\"state\": \"TOGGLE\"};\n    break;\ncase \"arrow_left_click\":\n    if (color < IKEAcolor.length){\n        color = color + 1\n    }\n    else\n    color = 0\n    global.set(device + '_last_color', color, \"bank1\")\n    msg.payload = {\"color\":\"#\"+IKEAcolor[color]};\n    break;\ncase \"arrow_left_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_left_release\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_click\":\n    if (color > 0){\n        color = color -1\n    }\n    else\n    color = IKEAcolor.length;\n    global.set(device + '_last_color', color, \"bank1\")\n    msg.payload = {\"color\":\"#\"+IKEAcolor[color]};\n    break\ncase \"arrow_right_hold\":\n    msg.payload = {}\n    break;\ncase \"arrow_right_release\":\n    msg.payload = {}\n    break;\ncase \"brightness_up_click\":\n    if ((bri + 10) < 255){\n    bri = bri + 10}\n    else bri = 255\n    msg.payload = {\"brightness\":bri}\n    break;\ncase \"brightness_up_hold\":\n    msg.payload = {\"brightness_move\": 50}\n    break\ncase \"brightness_up_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\ncase \"brightness_down_click\":\n    if ((bri -10) > 0){\n    bri = bri -10}\n    else bri = 1\n    msg.payload = {\"brightness\":bri}\n    break;\ncase \"brightness_down_hold\":\n    msg.payload = {\"brightness_move\": -50}\n    break\ncase \"brightness_down_release\":\n    msg.payload = {\"brightness_move\": \"stop\"}\n    break\n}\nnode.status({fill:\"blue\",shape:\"ring\",text: \"Device: \" + device + \" bri: \" + bri +\" payload: \" + msg.payload});\nreturn msg","outputs":1,"noerr":0,"x":660,"y":700,"wires":[["af80d9cf.d3b628"]]},{"id":"51c3e3f.59e2b1c","type":"link in","z":"474a109b.3ffcd","name":"IKEA Symfonisk Remote in","links":["61393353.0511bc"],"x":515,"y":700,"wires":[["e8c74ff1.64f3c"]]},{"id":"af80d9cf.d3b628","type":"link out","z":"474a109b.3ffcd","name":"IKEA Remote out","links":["268459bd.583ad6"],"x":835,"y":700,"wires":[]},{"id":"c92acea.2cb923","type":"debug","z":"474a109b.3ffcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":1000,"wires":[]},{"id":"39adf769.924138","type":"chatbot-telegram-send","z":"7935afc7.0fa2","bot":"8484ab7d.aca948","botProduction":"8484ab7d.aca948","track":false,"passThrough":false,"outputs":0,"x":910,"y":320,"wires":[]},{"id":"beaad967.91d438","type":"chatbot-message","z":"7935afc7.0fa2","name":"","message":[{"message":"Kühlschrank offen"}],"language":"de","x":580,"y":320,"wires":[["39adf769.924138","9e0fa727.456508"]]},{"id":"fc37bde.dab384","type":"inject","z":"7935afc7.0fa2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":380,"wires":[["beaad967.91d438"]]},{"id":"1b6626ef.bb5519","type":"chatbot-telegram-receive","z":"7935afc7.0fa2","bot":"8484ab7d.aca948","botProduction":"8484ab7d.aca948","x":240,"y":320,"wires":[["beaad967.91d438","99508100.5ee26"]]},{"id":"99508100.5ee26","type":"debug","z":"7935afc7.0fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":500,"wires":[]},{"id":"9e0fa727.456508","type":"debug","z":"7935afc7.0fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":480,"wires":[]}]