flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54d597dc.091d98","type":"tab","label":"StiebelEltron","disabled":false,"info":""},{"id":"d758016d.a72ea","type":"tab","label":"Temperatur Sensoren","disabled":false,"info":""},{"id":"3d99c3e7.1afe6c","type":"modbus-client","z":0,"name":"StiebelEltronWP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"${MODBUSHOST}","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"86cfc9c1.14a5d8","type":"ui_tab","z":"","name":"Wäremepumpe","icon":"dashboard","disabled":false,"hidden":false},{"id":"d491d6cc.a16b68","type":"ui_group","z":"","name":"Heizung","tab":"86cfc9c1.14a5d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5db59100.6471","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"aeaee698.066bd8","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"${MQTTSERVER}","port":"${MQTTPORT}","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d461b5.7f18a648","type":"ui_group","z":"","name":"Warmwasser","tab":"86cfc9c1.14a5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"e7dbb69b.b957c8","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["514ed73d.32cea8"]]},{"id":"514ed73d.32cea8","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":100,"wires":[]},{"id":"b798b084.37236","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":220,"y":220,"wires":[["70b97fd.225d48"]]},{"id":"4e87ef94.f5e2e","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":560,"y":220,"wires":[]},{"id":"70b97fd.225d48","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["4e87ef94.f5e2e"]]},{"id":"f977a7c3.70c358","type":"modbus-flex-getter","z":"54d597dc.091d98","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3d99c3e7.1afe6c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":80,"wires":[["1085c68d.41e109","7adce928.76f1f8"],[]]},{"id":"c61e6f12.2b183","type":"inject","z":"54d597dc.091d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["c1458cc7.76bc4"]]},{"id":"c1458cc7.76bc4","type":"function","z":"54d597dc.091d98","name":"Read from Stiebel","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 4,\n    'unitid': 1,\n    'address': 501,\n    'quantity': 40\n};\nreturn msg","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["f977a7c3.70c358"]]},{"id":"1085c68d.41e109","type":"function","z":"54d597dc.091d98","name":"Split Heizung WW","func":"let TAussen = msg.payload[5]/10;\nlet TIstHK1 = msg.payload[6]/10;\nlet TSollHK1 = msg.payload[8]/10;\nlet TIstHK2 = msg.payload[9]/10;\nlet TSollHK2 = msg.payload[10]/10;\nlet TIstVor = msg.payload[13]/10;\nlet TIstPuff = msg.payload[16]/10;\nlet TSollPuff = msg.payload[17]/10;\nlet TFrost = msg.payload[7]/10;\nlet TWWIst = msg.payload[20]/10;\nlet TWWSoll = msg.payload[21]/10;\n\nmsg = {\n    topic: \"DatenStiebel\",\n    TAussen: TAussen,\n    TIstHK1: TIstHK1,\n    TSollHK1: TSollHK1,\n    TIstHK2: TIstHK2,\n    TSollHK2: TSollHK2,\n    TIstVor: TIstVor,\n    TIstPuff: TIstPuff,\n    TSollPuff: TSollPuff,\n    TFrost: TFrost,\n    TWWIst: TWWIst,\n    TWWSoll: TWWSoll\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["b894e6f0.b1d678","b1ed68f9.bc0df8","6f02b588.e506ec","f87e42ac.6dfc2","aa47d927.41ec78","893fc1b6.83a65","60370e6f.ac52a","a4a85c3f.b02df","3a35b59c.09546a","644f82ab.3bb55c"]]},{"id":"b894e6f0.b1d678","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Aussentemperatur","format":"{{msg.TAussen}} °C","layout":"row-spread","x":1050,"y":40,"wires":[]},{"id":"b1ed68f9.bc0df8","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 1","format":"{{msg.TIstHK1}} °C","layout":"row-spread","x":1050,"y":80,"wires":[]},{"id":"a4a85c3f.b02df","type":"debug","z":"54d597dc.091d98","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":420,"wires":[]},{"id":"6f02b588.e506ec","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 1","format":"{{msg.TSollHK1}} °C","layout":"row-spread","x":1060,"y":120,"wires":[]},{"id":"f87e42ac.6dfc2","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur HK 2","format":"{{msg.TIstHK2}} °C","layout":"row-spread","x":1050,"y":160,"wires":[]},{"id":"aa47d927.41ec78","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur HK 2","format":"{{msg.TSollHK2}} °C","layout":"row-spread","x":1060,"y":200,"wires":[]},{"id":"893fc1b6.83a65","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Puffer","format":"{{msg.TIstPuff}} °C","layout":"row-spread","x":1050,"y":240,"wires":[]},{"id":"60370e6f.ac52a","type":"ui_text","z":"54d597dc.091d98","group":"d491d6cc.a16b68","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Puffer","format":"{{msg.TSollPuff}} °C","layout":"row-spread","x":1060,"y":280,"wires":[]},{"id":"3a051f6f.1015a","type":"comment","z":"54d597dc.091d98","name":"Read Values from ModBus Interface","info":"","x":160,"y":40,"wires":[]},{"id":"3a35b59c.09546a","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Isttemperatur Warmwasser","format":"{{msg.TIstPuff}} °C","layout":"row-spread","x":1080,"y":320,"wires":[]},{"id":"644f82ab.3bb55c","type":"ui_text","z":"54d597dc.091d98","group":"d461b5.7f18a648","order":0,"width":0,"height":0,"name":"","label":"Solltemperatur Warmwasser","format":"{{msg.TSollPuff}} °C","layout":"row-spread","x":1080,"y":360,"wires":[]},{"id":"f91c4fc4.81cf6","type":"mqtt in","z":"d758016d.a72ea","name":"","topic":"zigbee2mqtt/#","qos":"2","datatype":"auto","broker":"aeaee698.066bd8","x":170,"y":80,"wires":[["d19b64d5.492d88"]]},{"id":"d19b64d5.492d88","type":"debug","z":"d758016d.a72ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":80,"wires":[]},{"id":"7adce928.76f1f8","type":"debug","z":"54d597dc.091d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":300,"wires":[]}]