flows.json
[{"id":"59869ff0.97854","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51241ce3.910134","type":"mqtt-broker","z":"","name":"","broker":"${MQTTHOST}","port":"${MQTPORT}","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b960e9c6.5a3418","type":"inject","z":"59869ff0.97854","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":120,"wires":[["8bec12e5.c1419"]]},{"id":"8bec12e5.c1419","type":"debug","z":"59869ff0.97854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":120,"wires":[]},{"id":"c8101daa.8fd71","type":"mqtt in","z":"59869ff0.97854","name":"","topic":"zigbee2mqtt","qos":"2","datatype":"auto","broker":"51241ce3.910134","x":260,"y":200,"wires":[["56c48cef.07f1a4"]]},{"id":"56c48cef.07f1a4","type":"debug","z":"59869ff0.97854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":200,"wires":[]}]