flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7dbb69b.b957c8","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["514ed73d.32cea8"]]},{"id":"514ed73d.32cea8","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":100,"wires":[]},{"id":"b798b084.37236","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":220,"y":220,"wires":[["70b97fd.225d48"]]},{"id":"4e87ef94.f5e2e","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":560,"y":220,"wires":[]},{"id":"70b97fd.225d48","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["4e87ef94.f5e2e"]]}]